<section class="section__about" id="about">
    <div class="container">
        <div class="about__container">
            <div class="about__photo">
                <img src="assets/images/hero-photo.jpg" alt="Photo of person"
                     width="350px"  />
            </div>
            <div class="about__content">
                <h3 class="about__title">about me</h3>
                <h2 class="about__title--big">WHO AM I</h2>
                <div class="about__descr">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Maecenas pellentesque eu enim eget luctus. Sed augue felis,
                        facilisis et elementum vitae, aliquam sit amet ante. Sed
                        iaculis eros sem, elementum consequat est consequat eu.
                        Quisque aliquet a ipsum nec tincidunt. Nulla vitae rhoncus
                        leo.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Maecenas pellentesque eu enim eget luctus. Sed augue felis,
                        facilisis et elementum vitae, aliquam sit amet ante. Sed
                        iaculis eros sem, elementum consequat est consequat eu.
                        Quisque aliquet a ipsum nec tincidunt. Nulla vitae rhoncus
                        leo.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Maecenas pellentesque eu enim eget luctus. Sed augue felis,
                        facilisis et elementum vitae, aliquam sit amet ante. Sed
                        iaculis eros sem, elementum consequat est consequat eu.
                        Quisque aliquet a ipsum nec tincidunt. Nulla vitae rhoncus
                        leo.
                    </p>
                </div>
                <ul class="btn__list about__action-btn-list">
                    <li class="btn__item">
                        <button class="button star-btn action-btn" data-modal="hire-modal">
                            <div class="star-1">
                                <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
                            </div>
                            <div class="star-2">
                                <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
                            </div>
                            <div class="star-3">
                                <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
                            </div>
                            <div class="star-4">
                                <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
                            </div>
                            <div class="star-5">
                                <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
                            </div>
                            <div class="star-6">
                                <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
                            </div>
                            Hire me
                        </button>
                    </li>
                    <li class="btn__item">
                        <button class="button star-btn action-btn" type="button" data-modal="cv-modal">
                            <div class="star-1">
                                <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
                            </div>
                            <div class="star-2">
                                <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
                            </div>
                            <div class="star-3">
                                <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
                            </div>
                            <div class="star-4">
                                <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
                            </div>
                            <div class="star-5">
                                <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
                            </div>
                            <div class="star-6">
                                <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
                            </div>
                            See my resume
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
