<section class="blog section__blog" id="blog">
    <div class="container blog__container">
        <div class="blog__wrap">
            <h2 class="blog__title">read me</h2>
            <p class="blog__text">JS Puzzles, Brain Benders & Aha Moments</p>
        </div>
        <ul class="articles-list"></ul>
        <button type="button" class="blog__btn star-btn star-btn-blue">
            <div class="star-1">
            <img src="../assets/images/icons/star-blue.svg" alt="Star Icon"/>
        </div>
            <div class="star-2">
                <img src="../assets/images/icons/star-blue.svg" alt="Star Icon"/>
            </div>
            <div class="star-3">
                <img src="../assets/images/icons/star-blue.svg" alt="Star Icon"/>
            </div>
            <div class="star-4">
                <img src="../assets/images/icons/star-blue.svg" alt="Star Icon"/>
            </div>
            <div class="star-5">
                <img src="../assets/images/icons/star-blue.svg" alt="Star Icon"/>
            </div>
            <div class="star-6">
                <img src="../assets/images/icons/star-blue.svg" alt="Star Icon"/>
            </div>
            See more posts

        </button>
    </div>
</section>
