<section class="blog section__contact" id="contact">
    <div class="container contact__container">
        <div class="contact__wrap">
            <h2 class="contact__title">Contact me</h2>
            <p class="contact__text">Let's Connect and Collaborate!</p>
        </div>
        <button type="button" class="blog__contact star-btn">
            <div class="star-1">
                <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
            </div>
            <div class="star-2">
                <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
            </div>
            <div class="star-3">
                <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
            </div>
            <div class="star-4">
                <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
            </div>
            <div class="star-5">
                <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
            </div>
            <div class="star-6">
                <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
            </div>
            See more posts

        </button>
    </div>
</section>
