<section class="blog section__contact" id="contact">
    <div class="container contact__container">
        <div class="contact__wrap">
            <h2 class="contact__title">Contact me</h2>
            <p class="contact__text">Let's Connect and Collaborate!</p>
        </div>
        <div class="contact__wrapper">
            <div class="contact__invitation">
                <p class="contact__invitation-text contact__invitation-text--primary">Planning  <span>a dynamic app </span>  with <span>efficient and maintainable</span> code? </p>
                <p class="contact__invitation-text contact__invitation-text--secondary keyboard">
                    <span class="key">I</span>
                    <span class="key">’</span>
                    <span class="key">m</span>
                    <span class="key"> </span>
                    <span class="key">r</span>
                    <span class="key">e</span>
                    <span class="key">a</span>
                    <span class="key">d</span>
                    <span class="key">y</span>
                    <span class="key"> </span>
                    <span class="key">t</span>
                    <span class="key">o</span>
                    <span class="key"> </span>
                    <span class="key">b</span>
                    <span class="key">u</span>
                    <span class="key">i</span>
                    <span class="key">l</span>
                    <span class="key">d</span>
                    <span class="key"> </span>
                    <span class="key">i</span>
                    <span class="key">t</span>
                    <span class="key">!</span>
                </p>
            </div>
            <div class="form__wrapper">
                <form class="contact-form">

                    <div class="control">
                        <input type="text" id="contact-name" /><label for="contact-name">Name:</label>
                        <span class="error-message" id="name-error"></span>
                    </div>
                    <div class="control">
                        <input type="text" id="contact-email" /><label for="contact-email"
                    >Email Address:</label
                    >
                        <span class="error-message" id="email-error"></span>
                    </div>
                    <div class="control">
                        <input type="text" id="contact-phone" /><label for="contact-phone">Phone:</label>
                        <span class="error-message" id="phone-error"></span>
                    </div>
                    <div class="control">
              <textarea name="" id="contact-message"></textarea
              ><label for="contact-message">Your Message: </label>
                        <span class="error-message" id="contact-message-error"></span>
                    </div>

                    <button type="button" class="contact__btn star-btn">
                        <div class="star-1">
                            <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
                        </div>
                        <div class="star-2">
                            <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
                        </div>
                        <div class="star-3">
                            <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
                        </div>
                        <div class="star-4">
                            <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
                        </div>
                        <div class="star-5">
                            <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
                        </div>
                        <div class="star-6">
                            <img src="../assets/images/icons/star.svg" alt="Star Icon"/>
                        </div>
                        Send message

                    </button>



                    <div class="ocean ocean--contact">
                        <div class="wave"></div>
                    </div>
                </form>
                <div class="contact__links">
                    <div class="contact__links__inner">
                        <p> Contact information</p>
                        <ul class="contact__links-list">
                            <li class="contacts__item">
                                <a
                                        href="tel:+380961111111"
                                        class="contacts__link"
                                        target="_blank"
                                >
                                    <svg class="contacts__icon" width="20" height="20">
                                        <use href="assets/images/icons.svg#icon-call"></use>
                                    </svg>
                                    <span>+380996499126</span>

                                </a>
                            </li>
                            <li class="contacts__item">
                                <a
                                        href="mailto:shavlakmaryna@gmail.com"
                                        class="contacts__link"
                                        target="_blank"
                                >
                                    <svg class="contacts__icon" width="20" height="20">
                                        <use href="assets/images/icons.svg#icon-email-black"></use>
                                    </svg>
                                    <span>shavlakmaryna@gmail.com</span>

                                </a>
                            </li>
                            <li class="contacts__item">
                                <a
                                        href="https://t.me/Marynka_28"
                                        class="contacts__link"
                                        target="_blank"
                                >
                                    <svg class="contacts__icon" width="20" height="20">
                                        <use href="assets/images/icons.svg#icon-telegram"></use>
                                    </svg>
                                    <span>@Marynka_28</span>

                                </a>
                            </li>
                            <li class="contacts__item">
                                <a
                                        href="https:/viber.com/chat?number=+380996499126"
                                        class="contacts__link"
                                        target="_blank"
                                >
                                    <svg class="contacts__icon" width="20" height="20">
                                        <use href="assets/images/icons.svg#icon-viber"></use>
                                    </svg>
                                    <span>Join me on Viber for a chat!</span>

                                </a>
                            </li>
                            <li class="contacts__item">
                                <a
                                        href="https://api.whatsapp.com/send?phone==+380996499126"
                                        class="contacts__link"
                                        target="_blank"
                                >
                                    <svg class="contacts__icon" width="20" height="20">
                                        <use href="assets/images/icons.svg#icon-whatsapp"></use>
                                    </svg>
                                    <span>Let's chat on WhatsApp!</span>

                                </a>
                            </li>
                            <li class="contacts__item">
                                <a
                                        href="https://maps.app.goo.gl/PD7ULB96zUPKXC649" class="contacts__link"
                                        target="_blank"
                                >
                                    <svg class="contacts__icon" width="20" height="20">
                                        <use href="assets/images/icons.svg#icon-location"></use>
                                    </svg>
                                    <span>Ivano-Frankivsk, Ukraine</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>


        </div>

    </div>
</section>
