<div class="canvas-block block--about">
    <span class="block-modal-title">About me</span>
    <p class="block-modal-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        pellentesque eu enim eget luctus. Sed augue felis, facilisis et
        elementum vitae, aliquam sit amet ante. Sed iaculis eros sem,
        elementum consequat est consequat eu. Quisque aliquet a ipsum nec
        tincidunt. Nulla vitae rhoncus leo.
    </p>
</div>
<div class="canvas-block block--education">
    <span class="block-modal-title">Education</span>
    <ul class="canvas-list">
        <li class="canvas-item">
            <p class="canvas-title">School Name</p>
            <p class="canvas-text">Lorem ipsum dolor sit amet, consectetur</p>
            <p class="canvas-italic">Feb 2024-now</p>
        </li>
        <li class="canvas-item">
            <p class="canvas-title">School Name</p>
            <p class="canvas-text">Lorem ipsum dolor sit amet, consectetur</p>
            <p class="canvas-italic">May 2023 - Jan 2024</p>
        </li>
        <li class="canvas-item">
            <p class="canvas-title">School Name</p>
            <p class="canvas-text">Lorem ipsum dolor sit amet, consectetur</p>
            <p class="canvas-italic">2011 - 2017</p>
        </li>
    </ul>
</div>
<div class="canvas-block block--experience">
    <span class="block-modal-title">Experience</span>
    <ul class="canvas-list">
        <li class="canvas-item">
            <p class="canvas-title">Job posisition</p>
            <p class="canvas-italic">Company / London / 2023- now</p>
            <p class="canvas-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas pellentesque eu enim eget luctus. Sed augue felis,
                facilisis .</p>
            </p>
        </li>
        <li class="canvas-item">
            <p class="canvas-title">Job posisition</p>
            <p class="canvas-italic">Company / London / 2023- now</p>
            <p class="canvas-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas pellentesque eu enim eget luctus. Sed augue felis,
                facilisis .</p>
            </p>
        </li>
    </ul>
</div>
<div class="canvas-block block--languages">
    <span class="block-modal-title">Languages</span>
    <ul class="canvas-list canvas-list--wrapped">
        <li class="canvas-item">
            <p class="canvas-title">Ukrainian</p>
            <p class="canvas-value">C2</p>
        </li>
        <li class="canvas-item">
            <p class="canvas-title">English</p>
            <p class="canvas-value">B2</p>
        </li>


    </ul>
</div>
<div class="canvas-block block--expertise">
    <span class="block-modal-title">Expertise</span>
    <ul class="canvas-list">
        <li class="canvas-item canvas-item--bg">
            <img src="assets/images/star.svg" alt="star" class="canvas-star" width="30" height="30">
            <span>Graphic Design</span>
        </li>
        <li class="canvas-item canvas-item--bg">
            <img src="assets/images/star.svg" alt="star" class="canvas-star" width="30" height="30">
            <span>UX & UI</span>
        </li>
        <li class="canvas-item canvas-item--bg">
            <img src="assets/images/star.svg" alt="star" class="canvas-star" width="30" height="30">
            <span>Web Design</span>
        </li>
        <li class="canvas-item canvas-item--bg">
            <img src="assets/images/star.svg" alt="star" class="canvas-star" width="30" height="30">
            <span>Branding Identity</span>
        </li>
        <li class="canvas-item canvas-item--bg">
            <img src="assets/images/star.svg" alt="star" class="canvas-star" width="30" height="30">
            <span>Vectors & Illustrations</span>
        </li>
        <li class="canvas-item canvas-item--bg">
            <img src="assets/images/star.svg" alt="star" class="canvas-star" width="30" height="30">
            <span>2D Animation</span>
        </li>



    </ul>
</div>
<div class="canvas-block block--software">
    <span class="block-modal-title">Software</span>
    <ul class="canvas-list">
        <li class="canvas-item canvas-item--bg">
            <img src="assets/images/ai.png" alt="software icon" class="canvas-soft-icon" width="30" height="30">
            <span>Adobe Illustrator</span>
        </li>
        <li class="canvas-item canvas-item--bg">
            <img src="assets/images/ps.png" alt="software icon" class="canvas-soft-icon" width="30" height="30">
            <span>Adobe Photoshop</span>
        </li>
        <li class="canvas-item canvas-item--bg">
            <img src="assets/images/id.png" alt="software icon" class="canvas-soft-icon" width="30" height="30">
            <span>InDesigner</span>
        </li>
        <li class="canvas-item canvas-item--bg">
            <img src="assets/images/skt.png" alt="software icon" class="canvas-soft-icon" width="30" height="30">
            <span>SketchUp</span>
        </li>
        <li class="canvas-item canvas-item--bg">
            <img src="assets/images/autodesk.svg" alt="software icon" class="canvas-soft-icon" width="30" height="30">
            <span>AutoCad</span>
        </li>
        <li class="canvas-item canvas-item--bg">
            <img src="assets/images/rh.png" alt="software icon" class="canvas-soft-icon" width="30" height="30">
            <span>Rhinoceros</span>
        </li>



    </ul>
</div>
<div class="canvas-img-wrap">
    <img src="assets/images/photo.png" alt="user photo" class="canvas-user-photo" >
</div>
<button type="button" class="download-cv-btn"><i class="fa-solid fa-download"></i> Download CV</button>
