<section class="section__education--mobile" id="educationMobile">
    <div class="container">
        <h2 class="education__title">
            Education
        </h2>

        <div class="education--mobile">
            <canvas id="roadCanvas--mobile" width="345" height="172"></canvas>
            <canvas id="numbersCanvas--mobile" width="345" height="172"></canvas>
            <canvas id="tooltipsCanvas--mobile" width="345" height="172"></canvas>
            <ul class="education__tooltips__container--mobile"></ul>
        </div>

    </div>
</section>
