<footer class="footer">
    <div class="container">
        <div class="footer__container">
            <div class="footer__meta">
                <p class="footer__copyright">© 2025 Shavlak Maryna | Work Smart, Not Hard </p>
                <ul class="socials footer__socials">
                    <li class="footer__social-item">
                        <a class="socials__link " href="https://t.me/Marynka_28" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-telegram"></i>
                        </a>
                    </li>
                    <li class="footer__social-item" >
                        <a class="socials__link" href="https://www.linkedin.com/in/maryna-shavlak/" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a class="socials__link" href="https://github.com/MarynaShavlak" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                    <li class="socials__item socials__item--email">
                        <a class="socials__link" href="mailto:shavlakmaryna@gmail.com">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </li>

                </ul>
            </div>
            <nav class="footer__nav">

                <a class="footer__nav-link" href="#">About me</a>
                <a class="footer__nav-link" href="#">Projects</a>
                <a class="footer__nav-link" href="#">Education</a>
                <a class="footer__nav-link" href="#">Work experience</a>
                <a class="footer__nav-link" href="#">Contact</a>

                <button
                        class="footer__btn star-btn star-btn-blue"
                        data-modal="hire-modal"
                >
                    <div class="star-1">
                        <img src="../assets/images/icons/star-blue.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-2">
                        <img src="../assets/images/icons/star-blue.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-3">
                        <img src="../assets/images/icons/star-blue.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-4">
                        <img src="../assets/images/icons/star-blue.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-5">
                        <img src="../assets/images/icons/star-blue.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-6">
                        <img src="../assets/images/icons/star-blue.svg" alt="Star Icon"/>
                    </div>
                    Hire me
                </button>
            </nav>
        </div>
    </div>
</footer>
