<header class="header">
    <div class="container">
        <div class="header__container">
            <div class="profile">
                <div class="profile__avatar">
                    <i class="fa-solid fa-user profile__icon"></i>
                </div>
                <div class="profile__info">
                    <p class="profile__name">Lewis<br />Nathaniel</p>
                    <p class="profile__job">UI &amp; UX Designer</p>
                </div>
            </div>

            <nav class="nav">
                <a class="nav__link" href="#">Work</a>
                <a class="nav__link" href="#">About me</a>
                <a class="nav__link" href="#">Blog</a>
                <a class="nav__link" href="#">Contact</a>
                <button type="button" class="nav__btn" data-modal="hire-modal">
                    HIRE ME
                </button>
            </nav>
        </div>
    </div>
</header>
