<header class="header">
    <div class="container">
        <div class="header__container">
            <div class="profile">
                <div class="profile__avatar">
                    <img class="profile__img" src="assets/images/Shavlak_Maryna_avatar.jpg" alt="Profile picture of Shavlak Maryna, a smiling woman with brown hair and a purple sweater.">

                </div>
                <div class="profile__info">
                    <p class="profile__name">Maryna<br />Shavlak</p>
                    <p class="profile__job">Frontend Developer</p>
                </div>
            </div>

            <nav class="nav">
                <a class="nav__link" href="#">About me</a>
                <a class="nav__link" href="#">Projects</a>
                <a class="nav__link" href="#">Education</a>
                <a class="nav__link" href="#">Work Experience</a>
                <a class="nav__link" href="#">Blog</a>
                <a class="nav__link" href="#">Contact</a>
                <button type="button" class="nav__btn" data-modal="hire-modal">
                    HIRE ME
                </button>
            </nav>
        </div>
    </div>
</header>
