<header class="header">
    <div class="container">
        <div class="header__container">
            <div class="profile">
                <div class="profile__avatar">
                    <img class="profile__img" src="assets/images/Shavlak_Maryna_avatar.jpg"
                         alt="Profile picture of Shavlak Maryna, a smiling woman with brown hair and a purple sweater.">

                </div>
                <div class="profile__info">
                    <p class="profile__name">Maryna<br/>Shavlak</p>
                    <p class="profile__job">Frontend Developer</p>
                </div>
            </div>

            <nav class="nav">
                <a class="nav__link" href="#about">About me</a>
                <a class="nav__link" href="#projects">Projects</a>
                <a class="nav__link" href="#education">Education</a>
                <a class="nav__link" href="#experience">Work Experience</a>
                <a class="nav__link" href="#blog">Blog</a>
                <a class="nav__link" href="#contact">Contact</a>
                <button type="button" class="nav__btn star-btn" data-modal="hire-modal">
                    <div class="star-1">
                        <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-2">
                        <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-3">
                        <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-4">
                        <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-5">
                        <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-6">
                        <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                    </div>

                    HIRE ME
                </button>
            </nav>
        </div>
    </div>
</header>
