<section class="hero">
    <canvas id="cloudCanvas"></canvas>
    <div class="hero__info">
        <p class="hero__greet">Hello I'm</p>
        <h1 class="hero__title">Maryna Shavlak</h1>
    </div>
    <div class="second-cloud-wrapper">

        <canvas id="cloudCanvas2"></canvas>
    </div>
    <div class="container container--hero">

        <div class="hero__socials">
            <p class="hero__subtext hero__email" id="copyEmail">shavlakmaryna@gmail.com <span
                    class="hero__email__tooltip">Copied!</span></p>

            <p class="hero__subtext"> Find Me on</p>
            <ul class="socials">
                <li class="socials__item socials__item--telegram">
                    <a class="socials__link " href="https://t.me/Marynka_28" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-telegram"></i>
                    </a>
                </li>
                <li class="socials__item socials__item--linkedin">
                    <a class="socials__link" href="https://www.linkedin.com/in/maryna-shavlak/" target="_blank"
                       rel="noopener noreferrer">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
                <li class="socials__item socials__item--github">
                    <a class="socials__link" href="https://github.com/MarynaShavlak" target="_blank"
                       rel="noopener noreferrer">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link " href="https://www.instagram.com/dev_interview_hub?igsh=NWJmenlndHVrZGt4"
                       target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>

            </ul>
            <ul class="btn__list hero__action-btn-list">
                <li class="btn__item">
                    <button class="button star-btn action-btn" data-modal="hire-modal">
                        <div class="star-1">
                            <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                        </div>
                        <div class="star-2">
                            <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                        </div>
                        <div class="star-3">
                            <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                        </div>
                        <div class="star-4">
                            <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                        </div>
                        <div class="star-5">
                            <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                        </div>
                        <div class="star-6">
                            <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                        </div>
                        Hire me
                    </button>
                </li>
                <li class="btn__item">
                    <button class="button star-btn action-btn" type="button" data-modal="cv-modal">
                        <div class="star-1">
                            <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                        </div>
                        <div class="star-2">
                            <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                        </div>
                        <div class="star-3">
                            <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                        </div>
                        <div class="star-4">
                            <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                        </div>
                        <div class="star-5">
                            <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                        </div>
                        <div class="star-6">
                            <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                        </div>
                        See my resume
                    </button>
                </li>
            </ul>
        </div>
        <p class="hero__text"><span>Frontend Developer</span> with a science background, excelling in visually stunning
            UIs.</p>
    </div>
</section>

