<section class="hero">
    <div class="container">
        <div class="hero__container">
            <div class="hero__info">
                <p class="hero__greet">Hello I'm</p>
                <h1 class="hero__title">Lewis Nathaniel</h1>
                <p class="hero__text">UI &amp; UX Designer</p>
                <ul class="socials">
                    <li class="socials__item">
                        <a class="socials__link" href="#">
                            <i class="fa-brands fa-behance"></i>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="#">
                            <i class="fa-brands fa-dribbble"></i>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                </ul>
                <ul class="btn__list">
                    <li class="btn__item">
                        <button class="button" data-modal="hire-modal">
                            Hire me
                        </button>
                    </li>
                    <li class="btn__item">
                        <button class="button" type="button" data-modal="cv-modal">
                            See my resume
                        </button>
                    </li>
                </ul>
            </div>

            <img
                    class="hero__photo"
                    src="assets/images/photo.png"
                    alt="Photo of person"
            />
        </div>
    </div>
</section>
