<div class="header__mobile-menu" id="mobileMenu">
    <button type="button" class="close-mobile-btn">
        <i class="fa-solid fa-xmark close-icon"></i>
    </button>
    <nav class="nav__mobile-menu">
        <a class="nav__link" href="#about">About me</a>
        <a class="nav__link" href="#skills">Tech Skills</a>
        <a class="nav__link" href="#projects">Projects</a>
        <a class="nav__link" href="#educationMobile">Education</a>
        <a class="nav__link" href="#experience">Work Experience</a>
        <a class="nav__link" href="#blog">Blog</a>
        <a class="nav__link" href="#contact">Contact</a>

    </nav>
</div>
