<section class="portfolio">
    <div class="container">
        <ul class="portfolio__filter">
            <li class="filter-btn filter-btn--active" data-filter="*">All</li>
            <li class="filter-btn" data-filter=".react">React</li>
            <li class="filter-btn" data-filter=".jquery">jQuery</li>
            <li class="filter-btn" data-filter=".html">HTML</li>
            <li class="filter-btn" data-filter=".css">CSS</li>
            <li class="filter-btn" data-filter=".saas">SAAS/SCSS</li>
            <li class="filter-btn" data-filter=".canvas">Canvas</li>
            <li class="filter-btn" data-filter=".javascript">JavaScript</li>
            <li class="filter-btn" data-filter=".typescript">Typescript</li>
            <li class="filter-btn" data-filter=".gulp">Gulp</li>
            <li class="filter-btn" data-filter=".webpack">Webpack</li>
            <li class="filter-btn" data-filter=".parcel">Parcel</li>
        </ul>
        <ul class="portfolio-list" id="portfolio"></ul>
        <ul class="btn__list btn__list--load">
            <li class="btn__item">
                <button type="button" class="load-more-btn">
                    LOAD MORE WORK
                </button>
            </li>
            <li class="btn__item">
                <button type="button" class="show-less-btn">SHOW LESS</button>
            </li>
        </ul>
    </div>
</section>
