<section class="section__portfolio" id="projects">
    <div class="portfolio__filter__container">
        <div class="container">
            <h2 class="section__portfolio__title">
                A Glimpse into My Work
            </h2>
            <ul class="portfolio__filter">
            </ul>
        </div>

    </div>
    <div class="container">


        <ul class="portfolio-list" id="portfolio"></ul>
        <ul class="btn__list btn__list--load">
            <li class="btn__item">
                <button type="button" class="load-more-btn star-btn">
                    <div class="star-1">
                        <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-2">
                        <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-3">
                        <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-4">
                        <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-5">
                        <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-6">
                        <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                    </div>
                    LOAD MORE WORK
                </button>
            </li>
            <li class="btn__item">
                <button type="button" class="show-less-btn star-btn">
                    <div class="star-1">
                        <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-2">
                        <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-3">
                        <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-4">
                        <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-5">
                        <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                    </div>
                    <div class="star-6">
                        <img src="./assets/images/icons/star.svg" alt="Star Icon"/>
                    </div>
                    SHOW LESS
                </button>
            </li>
        </ul>
    </div>
</section>
