<section class="reviews section__reviews">
    <div class="reviews__cloud-wrapper">

        <canvas id="cloudCanvasReviews"></canvas>
    </div>
    <h2 class="reviews__title">
        Testimonials
    </h2>
    <div class="container reviews__container">
        <ul class="control-slider-buttons">
            <li>
                <button type="button" class="slider-btn prev-btn">
                    <i class="fa-solid fa-angle-left"></i>
                </button>
            </li>
            <li>
                <button type="button" class="slider-btn next-btn">
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </li>
        </ul>
        <ul class="reviews-slider"></ul>
    </div>
</section>
