<section class="section--softSkills">
    <div class="container">
        <h2 class="softSkills__title"> Not here to just do a job, but to make <span> A LASTING IMPACT</span></h2>
        <div class="softSkills__content">
            <div class="softSkills__img-wrapper">
                <img alt="Image of tree" class="softSkills__img" src="../assets/images/softSkills/softSkills.png"/>
                <div class="softSkills__decorList">
                    <div class="decorList__item decorList__item--big"></div>
                    <div class="decorList__item decorList__item--big"></div>
                    <div class="decorList__item decorList__item--big"></div>
                    <div class="decorList__item decorList__item--big"></div>
                    <div class="decorList__item decorList__item--big"></div>
                    <div class="decorList__item decorList__item--big"></div>
                    <div class="decorList__item decorList__item--big"></div>
                    <div class="decorList__item decorList__item--big"></div>
                    <div class="decorList__item decorList__item--big"></div>
                    <div class="decorList__item decorList__item--big"></div>
                    <div class="decorList__item decorList__item--big"></div>
                    <div class="decorList__item decorList__item--big"></div>
                </div>
                <ul class="softSkills__list">
                    <li class="softSkills__item softSkills__item--agile">
                        Agile Adaptability
                    </li>
                    <li class="softSkills__item softSkills__item--effective">
                        Effective Communication & Listening
                    </li>
                    <li class="softSkills__item softSkills__item--structured">
                        Structured Analytical Thinking
                    </li>
                    <li class="softSkills__item softSkills__item--versatile">
                        Versatile Team & Solo Contributor
                    </li>
                    <li class="softSkills__item softSkills__item--accelerated">
                        Accelerated Learning Ability
                    </li>
                    <li class="softSkills__item softSkills__item--detail">
                        Detail-Oriented Precision
                    </li>
                    <li class="softSkills__item softSkills__item--proactive">
                        Proactive Problem Solving
                    </li>
                    <li class="softSkills__item softSkills__item--empathy">
                        Empathy & User-Centric Mindset
                    </li>
                    <li class="softSkills__item softSkills__item--growth">
                        Growth Mindset
                    </li>
                    <li class="softSkills__item softSkills__item--time">
                        Time Management
                    </li>
                    <li class="softSkills__item softSkills__item--patience">
                        Patience and Persistence
                    </li>
                    <li class="softSkills__item softSkills__item--focus">
                        Focus & Concentration
                    </li>
                </ul>
            </div>
            <div class="softSkills__description">

            </div>

        </div>


    </div>
</section>


<!--<section class="section&#45;&#45;softSkills">-->
<!--    <div class="container">-->
<!--        <div class="building">-->
<!--            &lt;!&ndash;            <div class="roof element">&ndash;&gt;-->
<!--            &lt;!&ndash;                <div class="roof-icons">🔍 📏</div>&ndash;&gt;-->
<!--            &lt;!&ndash;                <h2 class="title">THE PRECISIONIST</h2>&ndash;&gt;-->
<!--            &lt;!&ndash;                <p class="quote">"Not here to just do a job, but to make a lasting impact."</p>&ndash;&gt;-->
<!--            &lt;!&ndash;            </div>&ndash;&gt;-->
<!--            <div class="roof-before element">-->
<!--                <div class="roof-column roof-column&#45;&#45;left">-->
<!--                    <img alt="Column icon" src="../assets/images/icons/column.svg"/>-->
<!--                </div>-->
<!--                <p>Not here to just do a job, but to mke A LASTING IMPACT</p>-->
<!--                <div class="roof-column roof-column&#45;&#45;right">-->
<!--                    <img alt="Column icon" src="../assets/images/icons/column.svg"/>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="floor element">-->
<!--                <div class="icons">💬 🎧</div>-->
<!--                <h3>Communication & Listening</h3>-->
<!--                <p>Understanding before responding.</p>-->
<!--            </div>-->

<!--            <div class="floor element">-->
<!--                <div class="icons">🤝 💡</div>-->
<!--                <h3>Teamwork & Mentorship</h3>-->
<!--                <p>Lifting others, growing together.</p>-->
<!--            </div>-->

<!--            <div class="floor element">-->
<!--                <div class="icons">🧩 ✅</div>-->
<!--                <h3>Problem Solving</h3>-->
<!--                <p>Solving, not escalating.</p>-->
<!--            </div>-->

<!--            <div class="floor element">-->
<!--                <div class="icons">📅 ✅</div>-->
<!--                <h3>Planning & Organization</h3>-->
<!--                <p>Strategic, not reactive.</p>-->
<!--            </div>-->

<!--            <div class="floor element">-->
<!--                <div class="icons">💼 🛡️</div>-->
<!--                <h3>Professionalism & Work Ethic</h3>-->
<!--                <p>Consistent. Positive. Accountable.</p>-->
<!--            </div>-->

<!--            <div class="foundation element">-->
<!--                &lt;!&ndash;                <div class="roots">📘 🔢 🌱</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                <h3>Adaptability • Logic • Growth</h3>&ndash;&gt;-->
<!--                &lt;!&ndash;                <p>"Rooted in logic, branching into innovation."</p>&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="base">-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->


<!--<div class="softSkills__showcases softSkills__showcases&#45;&#45;empathy">-->
<!--    <p class="softSkills__showcases__title">Empathy & User-Centric Mindset</p>-->
<!--    <ul class="showcase__list ">-->
<!--        <li class="showcase__list__item">Built frontend features with <span>user feedback loops</span>,-->
<!--            ensuring a satisfying UX-->
<!--        </li>-->
<!--        <li class="showcase__list__item">Handled <span>irate customers</span> with patience and empathy,-->
<!--            delivering solutions that-->
<!--            addressed-->
<!--            emotional and practical needs.-->
<!--        </li>-->
<!--        <li class="showcase__list__item">Onboarded new team members with <span>personalized, empathetic support</span>.-->
<!--        </li>-->
<!--        <li class="showcase__list__item">Centered <span>user satisfaction</span> in Filmoteka, shown by-->
<!--            95%-->
<!--            positive user feedback.-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->
