<section class="section__work timeline" id="experience">
    <h2 class="section__title"> Work Experience</h2>
    <div class="work__wrapper">
        <!--oleos-->

        <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
            <div class="timeline__event__icon">
                <i class="fa-solid fa-business-time"></i>
            </div>
            <div class="timeline__event__date">
                2018-2021
            </div>
            <div class="timeline__event__content">
                <p class="timeline__event__title">
                    Export Execution Specialist
                </p>
                <p class="timeline__event__text"> OLEOS SWISS S.A.</p>
                <div class="timeline__event__description">
                    <ul class="timeline__event__responsibilities">
                        <li class="timeline__event__resp-item"><i class="fa-solid fa-gear  resp-item__icon"></i>
                            Automate AR/AP report generation for faster financial insights
                        </li>
                        <li class="timeline__event__resp-item"><i class="fa-solid fa-gear  resp-item__icon"></i>Coordinate
                            data exchange with suppliers and customs brokers
                        </li>
                        <li class="timeline__event__resp-item"><i class="fa-solid fa-gear  resp-item__icon"></i>Streamlined
                            contract lifecycle with digital tracking
                        </li>
                        <li class="timeline__event__resp-item"><i class="fa-solid fa-gear  resp-item__icon"></i>Standardized
                            cargo docs using data-driven templates
                        </li>
                    </ul>
                    <p class="timeline__event__results"><i class="fa-solid fa-trophy resp-item__prize"></i> <span>Achievement:</span>
                        Built a structured system for contract data, <span>cutting tracking errors by 30%.</span>
                    </p>
                </div>
            </div>
        </div>

        <!--krokus-->

        <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
            <div class="timeline__event__icon">
                <i class="fa-solid fa-file-contract"></i>
            </div>
            <div class="timeline__event__date">
                2022 - 2023
            </div>
            <div class="timeline__event__content">
                <p class="timeline__event__title">
                    Agricultural Procurement Data Manager
                </p>
                <p class="timeline__event__text"> KROKUS-AGRO GROUP</p>
                <div class="timeline__event__description">
                    <ul class="timeline__event__responsibilities">
                        <li class="timeline__event__resp-item"><i class="fa-solid fa-gear resp-item__icon"></i>Collect,
                            consolidate and analyze agricultural procurement data.
                        </li>
                        <li class="timeline__event__resp-item"><i class="fa-solid fa-gear  resp-item__icon"></i>Review
                            accounts and payments for accuracy and validity
                        </li>
                    </ul>
                    <p class="timeline__event__results"><i class="fa-solid fa-trophy resp-item__prize"></i> <span>Achievement:</span>
                        Optimized data workflow with automation scripts, minimizing manual entry and detecting
                        contractor invoice errors— <span>resulting in savings of up to 50K UAH.</span>
                    </p>
                </div>

            </div>
        </div>


        <!--revatt-->

        <div class="timeline__event animated fadeInUp timeline__event--type1">
            <div class="timeline__event__icon">
                <i class="fa-solid fa-chart-line"></i>
            </div>
            <div class="timeline__event__date">
                2023 - Present
            </div>
            <div class="timeline__event__content">
                <p class="timeline__event__title">
                    Data Analytics Coordinator
                </p>
                <p class="timeline__event__text"> REVATT LLC</p>
                <div class="timeline__event__description">
                    <ul class="timeline__event__responsibilities">
                        <li class="timeline__event__resp-item"><i class="fa-solid fa-gear  resp-item__icon"></i>Created
                            dashboards to visualize procurement and financial data
                        </li>
                        <li class="timeline__event__resp-item"><i class="fa-solid fa-gear  resp-item__icon"></i>Collaborated
                            with teams to define data and reporting needs
                        </li>
                        <li class="timeline__event__resp-item"><i class="fa-solid fa-gear  resp-item__icon"></i>Translated
                            data into actionable insights for stakeholders
                        </li>
                    </ul>
                    <p class="timeline__event__results"><i class="fa-solid fa-trophy resp-item__prize"></i> <span>Achievement:</span>
                        Built a VBA script to generate dynamic reports with conditional logic, <span>reducing manual work by 70%.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
