/*Colors*/
$body-bg-color: #161616;
$main-white: #FFF;
$main-gray: #888888;
$main-light-gray: #D9D9D9;
$main-blue: #1B91FF;
$main-black: #000;
$soft-color: #444; // I use #444
// $main-color: #FFE082; // I use #fff176
$main-color: #f90; // I use #fff176
$size: 40px;
$cubic: 300ms cubic-bezier(0.4, 0, 0.2, 1);
$add-grey: #efefef;
$twitter-color: #7FD0ED;
$github-color: #00A896;
$linkedin-color: #03679B;
$facebook-color: #2F98D1;
// $card-color: #49454f;

$review-score-gray: #999;