.cv-modal {
  position: relative;
  width: 1100px;
  height: 1000px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  width: 1100px;
  height: 1000px;
}
.canvas-block {
  position: absolute;
  padding-top: 5px;
}

.block--about .block-modal-title {
  text-align: center;
}

.block--experience .block-modal-title {
  text-align: end;
}

.block--experience .canvas-item {
  align-items: end;
}

.block--experience .block--education {
  padding-left: 10px;
}
.block--experience {
  padding-right: 10px;
}

.block-modal-title {
  display: block;
  font-size: 30px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: start;
}

.block-modal-text {
  font-size: 13px;
}

.canvas-list {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: 13px;
  gap: 10px;
}
.canvas-item {
  display: flex;
  flex-direction: column;

  gap: 5px;
}
.canvas-title {
  font-size: 15px;
  font-weight: 600;
}
.canvas-italic {
  font-weight: 700;
  font-style: italic;
}
