/* .section-contacts__wrapper {
  padding-top: 120px;
} */

.contact-btn {
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 6;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 40px;
  border-radius: 20px;
  border: none;
  background-color: #888888;
  line-height: 1;
  cursor: pointer;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-btn:hover,
.contact-btn:focus {
  color: #fff;
  background-color: #2b2a2c;
}

.contact-form {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 5;
  padding: 80px 50px;
  transform: translate3d(-100%, 0, 0);
  transition: 0.3s ease;
  border-radius: 5px;
}
.contact-form.active {
  transform: translate3d(0, 0, 0);
}

.close {
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 30px;
  top: 30px;
}

.close:hover .card-toggle__icon,
.close:focus .card-toggle__icon {
  color: #2b2a2c;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .card-toggle__icon {
  color: #000;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.cards {
  background: #efefef;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 3px 5px 20px rgba(0, 0, 0, 0.2);
  width: 70%;
  max-width: 1015px;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 30px;
}

.card--behance .card-content,
.card--facebook .card-content,
.card--linkedin .card-content,
.card--twitter .card-content,
.card--instagram .card-content,
.card--dribbble .card-content {
  color: #fff;
}

.card--behance .block__text,
.card--facebook .block__text,
.card--linkedin .block__text,
.card--twitter .block__text,
.card--instagram .block__text,
.card--dribbble .block__text {
  color: #fff;
}

.block__text:not(:nth-child(2)),
.block__text:not(:last-child) {
  margin-bottom: 20px;
}

.block__text {
  color: #2b2a2c;
}

.card-content__link {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  text-align: justify;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content__link .card-content__icon {
  color: #fff;
  margin-right: 20px;
  font-size: 30px;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: tiltShakeInfinite 0.5s infinite;
}

/* .card-content__link:hover {
  color: #000;
}
.card-content__link:hover .card-content__icon {
  color: #000;
} */

.card--behance .card-content {
  background-color: #1869ff;
  -webkit-clip-path: circle(0% at 76px 88%);
  clip-path: circle(0% at 50px 88%);
}
.card--behance.active .card-content {
  -webkit-clip-path: circle(270% at 76px 88%);
  clip-path: circle(270% at 50px 88%);
}

.card--facebook .card-content {
  background-color: #2f98d1;
  -webkit-clip-path: circle(0% at 150px 88%);
  clip-path: circle(0% at 150px 88%);
}
.card--facebook.active .card-content {
  -webkit-clip-path: circle(270% at 150px 88%);
  clip-path: circle(270% at 150px 88%);
}

.card--linkedin .card-content {
  background-color: #007bb6;
  -webkit-clip-path: circle(0% at 220px 88%);
  clip-path: circle(0% at 220px 88%);
}
.card--linkedin.active .card-content {
  -webkit-clip-path: circle(270% at 220px 88%);
  clip-path: circle(270% at 220px 88%);
}

.card--twitter .card-content {
  background-color: #57acef;
  -webkit-clip-path: circle(0% at 292px 88%);
  clip-path: circle(0% at 292px 88%);
}
.card--twitter.active .card-content {
  -webkit-clip-path: circle(270% at 292px 88%);
  clip-path: circle(270% at 292px 88%);
}

.card--dribbble .card-content {
  background-color: #e51a69;
  -webkit-clip-path: circle(0% at 292px 88%);
  clip-path: circle(0% at 292px 88%);
}
.card--dribbble.active .card-content {
  -webkit-clip-path: circle(270% at 292px 88%);
  clip-path: circle(270% at 292px 88%);
}
.card--instagram .card-content {
  background-color: #135689;
  -webkit-clip-path: circle(0% at 292px 88%);
  clip-path: circle(0% at 292px 88%);
}
.card--instagram.active .card-content {
  -webkit-clip-path: circle(270% at 292px 88%);
  clip-path: circle(270% at 292px 88%);
}

.card--overview.active .card-toggle {
  opacity: 0;
}
.card--overview.active .card-content {
  -webkit-clip-path: circle(270% at 91.5% 75px);
  clip-path: circle(270% at 91.5% 75px);
}

.card--overview .card-toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  opacity: 1;
  color: #fff;
}

.card--overview .card-content {
  background-color: #efefef;
  -webkit-clip-path: circle(0% at 91.5% 75px);
  clip-path: circle(0% at 91.5% 75px);
}

.card--overview .block--right {
  background: url(images/photo.png) no-repeat bottom right;
  background-size: contain;
}

.card-toggle {
  z-index: 4;
  position: relative;
  width: 54px;
  height: 54px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .card-toggle:hover .card-toggle__icon {
  color: #fff;
}

.card-toggle:hover {
  border-color: #fff;
} */

.card-toggle.active {
  color: #fff;
  border-color: #fff;
}

.card-toggle.active .card-toggle__icon {
  color: #fff;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-toggle__icon {
  color: #000;
  font-size: 28px;
}

.card {
  display: inline-block;
}

.card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: -webkit-clip-path 1s ease;
  padding: 100px 0 0;
  overflow: hidden;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.card-content__title {
  font-weight: 700;
  font-size: 50px;
  margin: 0 0 30px;
  text-align: center;
  line-height: 1;
  color: #2b2a2c;
}

.content__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.block {
  width: 50%;
  height: 100%;
  transition: 0.3s ease 0.3s;
  transform: translate3d(0, 0, 0);
  display: flex;
  flex-direction: column;
}

.block .block__text {
  text-align: justify;
  font-size: 18px;
}
.block .block__text:first-child {
  margin-bottom: 20px;
}

.block img {
  max-width: 90%;
  width: 100%;
}

.block.block--left {
  transform: translate3d(0, 0, 0);
  opacity: 0;
  padding-left: 50px;
}
.block.block--right {
  transform: translate3d(100px, 0, 0);
  opacity: 0;
  padding-left: 30px;
}

.card.active .block {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.control {
  position: relative;
  margin-bottom: 10px;
  padding-top: 20px;
}

.control label {
  position: absolute;
  top: 30px;
  left: 0;
  transition: 0.3s ease;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 14px;
}

.control.submit {
  text-align: right;
}

.hire-form {
  padding-top: 30px;
}

input,
textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e3e3e3;
  outline: none;
  padding: 10px 0;
}
textarea {
  resize: none;
}
.filled label,
input:focus + label,
textarea:focus + label {
  top: 0;
  font-size: 12px;
}
textarea {
  height: 100px;
}
.form__submit-btn {
  position: relative;
  font-size: 18px;
  color: #2b2a2c;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  background-color: #fff;
  padding: 20px 30px;
  border: 2px solid #2b2a2c;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__submit-btn:hover,
.form__submit-btn:focus {
  background-color: #2b2a2c;
  color: #fff;
}

@keyframes tiltShakeInfinite {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0eg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
