.project-modal {
  width: 1100px;
  height: 800px;
  padding: 0;
}

.modal__project {
  display: flex;
  flex-wrap: wrap;
}

.project-img-wrap {
  position: relative;
  padding-left: 30px;
  padding-top: 30px;
  width: 800px;
  height: 600px;
  overflow: hidden;
}
.project-slider {
  display: flex;
  position: relative;
  top: -30px;
  left: -30px;

  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.project-picture {
  width: 800px;
  height: 600px;
}

.project-title {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: start;
}

.project-slider-buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 550px;
  left: 0;
  /* padding-left: 40px;
  padding-right: 40px; */
}

.project-slider-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(155, 155, 156, 0.9);
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-slider-btn i {
  font-size: 30px;
  color: #fff;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-slider-btn:hover {
  color: #000;
}
.project-slider-btn:hover i {
  color: #000;
}

.project-meta {
  width: 300px;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 20px;
  font-size: 20px;
  color: #6a696b;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.project-info__item {
  display: flex;
  gap: 20px;
}

.meta-title {
  width: 90px;
  text-align: left;
  font-size: 14px;
}
.meta-value {
  width: 160px;
  font-size: 18px;
  color: #1869ff;
  font-weight: 700;
  text-align: start;
}

.project-meta__first-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 30px;
  border-bottom: 1px solid #6a696b;
}

.project-descr {
  padding: 30px 40px;
  font-size: 16px;
  line-height: 2;
  color: #6a696b;
  font-weight: 400;
  text-align: justify;
}
