
.card--linkedin .card-content,
.card--github .card-content,
.card--instagram .card-content {
    color: var(--main-text-color);
}


.card--linkedin .block__text,
.card--github .block__text,
.card--instagram .block__text {
    color: var(--main-text-color);
}

.block__text:not(:nth-child(2)),
.block__text:not(:last-child) {
    margin-bottom: 20px;
}

.block__text {
    color: var(--main-text-color);
}

.card-content__link {
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 40px;
    text-align: justify;
    line-height: 1;

    text-decoration: none;
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content__link .card-content__icon {

    margin-right: 20px;
    font-size: 30px;
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    animation: tiltShakeInfinite 0.5s infinite;
}


.card--linkedin .card-content {
    background-color: var(--default-bg-color);
    -webkit-clip-path: circle(0% at 220px 88%);
    clip-path: circle(0% at 220px 88%);
}

.card--linkedin.active .card-content {
    -webkit-clip-path: circle(270% at 220px 88%);
    clip-path: circle(270% at 220px 88%);
}

.card--github .card-content {
    background-color: var(--main-bg-color);
    -webkit-clip-path: circle(0% at 292px 88%);
    clip-path: circle(0% at 292px 88%);
}

.card--github.active .card-content {
    -webkit-clip-path: circle(270% at 292px 88%);
    clip-path: circle(270% at 292px 88%);
}


.card--instagram .card-content {
    background-color: var(--light-bg-color);
    -webkit-clip-path: circle(0% at 292px 88%);
    clip-path: circle(0% at 292px 88%);
}

.card--instagram.active .card-content {
    -webkit-clip-path: circle(270% at 292px 88%);
    clip-path: circle(270% at 292px 88%);
}

.card--overview.active .card-toggle {
    opacity: 0;
}

.card--overview.active .card-content {
    -webkit-clip-path: circle(270% at 91.5% 75px);
    clip-path: circle(270% at 91.5% 75px);
}

.card--overview .card-toggle {
    position: absolute;
    top: 30px;
    right: 30px;
    opacity: 1;
    fill: var(--main-text-color);
    background-color: var(--main-bg-color);
}

.card--overview .card-content {
    background-color: var(--main-bg-color);
    -webkit-clip-path: circle(0% at 91.5% 75px);
    clip-path: circle(0% at 91.5% 75px);
}


.card--github .block__img--1 {
    transform: translateY(-20px) translateX(-40px);
}

.card--github .block__img--2 {
    transform: translateY(-30px);
    /*z-index: 1;*/
}

.card--github .block__img--3 {
    transform: translateY(-120px) translateX(-200px);
}

.card--linkedin .block__img--1 {
    transform: translateY(10%);
}
