.ocean {
    position: absolute;
    bottom: 0;
    left: 0;

}

.wave {
    background-repeat: repeat-x;
    background-size: 80px auto;
    background-position: bottom;
    position: absolute;
    bottom: 0%;

    animation: wave 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;

}

.ocean--blog {
    z-index: -1;
}


.ocean--blog .wave {
    background-image: url('../../assets/images/icons/wave-blue.svg');
    width: 370px;
    height: 200px;
    z-index: 2;
}

.ocean--contact .wave {
    background-image: url('../../assets/images/icons/wave-white.svg');
    width: 540px;
    height: 50px;
    bottom: -10px;
    left: -20px;

}

.ocean--contact-modal .wave {
    background-image: url('../../assets/images/icons/wave-white.svg');
    width: 780px;
    height: 50px;
    bottom: -10px;
    left: -20px;

}


@keyframes wave {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: -500px;
    }
}

@keyframes swell {
    0%, 100% {
        background-position: right bottom 10px;
    }
    50% {
        background-position: right bottom 0;
    }
}
