#header {
    position: fixed;
    background-color: var(--main-bg-color);
    z-index: 4;
    width: 100%;
    mask: linear-gradient(to bottom, #000 calc(100% - 20px), transparent);
}

.header {
    padding: 1.2rem 0;

}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
}

.profile__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--main-black-color);
}

.profile__img {
    width: 57px;
    height: 57px;
}

.profile__info {
    padding-left: 9px;
}

.profile__name {
    margin-bottom: 3px;
    font-size: 1.06rem;
    line-height: 1.2;
    color: var(--main-text-color);
    font-weight: 700;
}

.profile__job {
    font-size: 0.8rem;
    color: var(--main-text-color);
}

.nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav__link {
    margin-left: 2rem;
    position: relative;
    font-size: 0.93rem;
    color: var(--main-text-color);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    padding: 5px 10px;
    transition: color .5s ease-in-out;
}

/*.nav__link:hover {*/
/*    color: var(--main-bg-color);*/
/*}*/

.nav__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .5s ease-in-out;
    background-color: var(--light-bg-color);
    border-radius: 10px;
    height: 100%;
    z-index: -1;
    width: 0%;
}

.nav__link:hover::after {
    width: 100%;
}


.nav__btn {
    margin-left: 2rem;
    position: relative;
    font-size: 0.93rem;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    padding: 0.66rem 2rem;
    transition: background-color 0.2s linear, color 0.2s linear;
}
