.section__tools {
    padding-top: 150px;
    padding-bottom: 130px;
    background-color: var(--light-bg-color);
    /*aspect-ratio: 1;*/
    --mask: linear-gradient(0deg, #0000 200px, #000 0) 0 100px,
    radial-gradient(100px, #000 98%, #0000) 50%/185px 200px repeat space;

    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.section__tools__title {
    margin-bottom: 0.3rem;
    font-family: "Lustria", serif;
    font-size: 5rem;
    color: var(--main-text-color);
    font-weight: 700;
    text-align: center;

}


.section__tools__text {
    color: var(--main-text-color);
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: center;
}

.tools__container {
    /*border: 1px solid black;*/
    /*display:grid;*/
    /*gap:10px;*/
    /*grid-template-rows: repeat(5, 180px);*/
    /*grid-template-columns: repeat(5, 1fr);*/
}

.tools__item {
    position: relative;
    /*background: red;*/
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    /*width:220px;*/
    /*height:180px;*/
    margin-bottom: 10px;
    opacity: 0; /* Start invisible */
    animation: fadeIn 0.5s ease-in forwards; /* Apply fade-in animation */
    --delay: 0s; /* Define default value for --delay */
    animation-delay: var(--delay); /* Use custom property for delay */
}


.tools__item--frontend {
    width: 220px;
    height: 120px;


    .icon-1 {
        background-image: url('../../assets/images/tools/react.svg');
        background-size: 30px 30px;
        top: 10%;
        left: 5%;
        animation-delay: 0s;
    }

    .icon-2 {
        background-image: url('../../assets/images/tools/jquery.svg');
        top: 60%;
        left: 60%;
        animation-delay: 3s;
    }
}

/*done*/

.tools__item--state {
    width: 220px;
    height: 180px;

    .icon-1 {
        background-image: url('../../assets/images/tools/redux.png');
        top: 70%;
        left: 60%;
        animation-delay: 0s;
    }

    .icon-2 {
        background-image: url('../../assets/images/tools/zustand.jfif');
        background-size: 40px 40px;
        top: 10%;
        left: 20%;
        animation-delay: 0s;
    }
}

/*done*/

.tools__item--build {
    width: 220px;
    height: 180px;

    .icon-1 {
        background-image: url('../../assets/images/tools/webpack.png');
        top: 10%;
        left: 5%;
        animation-delay: 0s;
    }

    .icon-2 {
        background-image: url('../../assets/images/tools/babel.svg');
        top: 60%;
        left: 70%;
        animation-delay: 3s;
    }

    .icon-3 {
        background-image: url('../../assets/images/tools/vite.svg');
        background-size: 30px 30px;
        top: 60%;
        left: 5%;
        animation-delay: 3s;
    }

    .icon-4 {
        background-image: url('../../assets/images/tools/gulp.svg');
        background-size: 30px 30px;
        top: 10%;
        left: 70%;
        animation-delay: 0s;
    }

    .icon-5 {
        background-image: url('../../assets/images/tools/docker.png');
        background-size: 30px 30px;
        top: 70%;
        left: 40%;
        animation-delay: 0s;
    }

    .icon-6 {
        background-image: url('../../assets/images/tools/craco.png');
        background-size: 30px 30px;
        top: 10%;
        left: 40%;
        animation-delay: 3s;
    }
}

/*done*/

.tools__item--code {
    width: 210px;
    height: 120px;

    .icon-1 {
        background-image: url('../../assets/images/tools/typescript.svg');
        background-size: 30px 30px;
        top: 10%;
        left: 5%;
        animation-delay: 0s;
    }

    .icon-2 {
        background-image: url('../../assets/images/tools/prettier.svg');
        background-size: 30px 30px;
        top: 60%;
        left: 60%;
        animation-delay: 3s;
    }

    .icon-3 {
        background-image: url('../../assets/images/tools/eslint.png');
        background-size: 40px 40px;
        top: 10%;
        left: 70%;
        animation-delay: 3s;
    }
}

/*done*/

.tools__item--utility {
    width: 220px;
    height: 180px;

    .icon-1 {
        background-image: url('../../assets/images/tools/uuid.png');
        background-size: 30px 30px;
        top: 10%;
        left: 5%;
        animation-delay: 0s;
    }

    .icon-2 {
        background-image: url('../../assets/images/tools/lodash.svg');
        background-size: 30px 30px;
        top: 60%;
        left: 70%;
        animation-delay: 3s;
    }

    .icon-3 {
        background-image: url('../../assets/images/tools/randomColor.svg');
        background-size: 30px 30px;
        top: 60%;
        left: 5%;
        animation-delay: 3s;
    }

    .icon-4 {
        background-image: url('../../assets/images/tools/nanoid.svg');

        top: 10%;
        left: 70%;
        animation-delay: 0s;
    }
}

/*done*/

.tools__item--routing {
    width: 220px;
    height: 120px;

    .icon-1 {
        background-image: url('../../assets/images/tools/reactRouter.png');
        top: 70%;
        left: 60%;
        animation-delay: 0s;
    }
}

/*done*/

.tools__item--ui {
    width: 450px;
    height: 140px;

    .icon-1 {
        background-image: url('../../assets/images/tools/font-awesome.png');
        top: 10%;
        left: 5%;
        animation-delay: 0s;
    }

    .icon-2 {
        background-image: url('../../assets/images/tools/react-icons.svg');
        background-size: 30px 30px;
        top: 60%;
        left: 70%;
        animation-delay: 3s;
    }

    .icon-3 {
        background-image: url('../../assets/images/tools/material.svg');
        background-size: 30px 30px;
        top: 60%;
        left: 5%;
        animation-delay: 3s;
    }

    .icon-4 {
        background-image: url('../../assets/images/tools/headless.png');

        top: 10%;
        left: 70%;
        animation-delay: 0s;
    }

    .icon-5 {
        background-image: url('../../assets/images/tools/ant.svg');
        background-size: 30px 30px;
        top: 70%;
        left: 40%;
        animation-delay: 0s;
    }
}

/*done*/

.tools__item--form {
    width: 220px;
    height: 180px;

    .icon-1 {
        background-image: url('../../assets/images/tools/formik.png');

        top: 10%;
        left: 5%;
        animation-delay: 0s;
    }

    .icon-2 {
        background-image: url('../../assets/images/tools/inputmask.svg');

        top: 60%;
        left: 60%;
        animation-delay: 3s;
    }

    .icon-3 {
        background-image: url('../../assets/images/tools/justValidate.svg');

        top: 10%;
        left: 70%;
        animation-delay: 3s;
    }
}

/*done*/

.tools__item--styling {
    width: 450px;
    height: 140px;

    .icon-1 {
        background-image: url('../../assets/images/tools/sass.svg');
        background-size: 40px 40px;
        top: 10%;
        left: 5%;
        animation-delay: 0s;
    }

    .icon-2 {
        background-image: url('../../assets/images/tools/styledComponents.svg');
        top: 50%;
        left: 80%;
        animation-delay: 3s;
    }

    .icon-3 {
        background-image: url('../../assets/images/tools/tailwind.svg');
        top: 50%;
        left: 5%;
        animation-delay: 3s;
    }

    .icon-4 {
        background-image: url('../../assets/images/tools/emotion.png');
        background-size: 30px 30px;
        top: 10%;
        left: 40%;
        animation-delay: 0s;
    }

    .icon-5 {
        background-image: url('../../assets/images/tools/modern.svg');

        top: 60%;
        left: 40%;
        animation-delay: 3s;
    }
}

/*done*/

.tools__item--animations { /*animation*/
    width: 370px;
    height: 140px;
    margin-left: -150px;

    .icon-1 {
        background-image: url('../../assets/images/tools/gesture.png');

        top: 10%;
        left: 5%;
        animation-delay: 0s;
    }

    .icon-2 {
        background-image: url('../../assets/images/tools/gsap.webp');
        background-size: 30px 30px;
        top: 60%;
        left: 70%;
        animation-delay: 3s;
    }

    .icon-3 {
        background-image: url('../../assets/images/tools/lottie.svg');
        background-size: 40px 40px;
        top: 60%;
        left: 5%;
        animation-delay: 3s;
    }

    .icon-4 {
        background-image: url('../../assets/images/tools/spring.png');
        background-size: 40px 40px;
        top: 10%;
        left: 70%;
        animation-delay: 0s;
    }
}

/*done*/

.tools__item--modals { /*modal*/
    width: 220px;
    height: 200px;

    .icon-1 {
        background-image: url('../../assets/images/tools/reactModal.svg');
        background-size: 30px 30px;
        top: 10%;
        left: 5%;
        animation-delay: 0s;
    }

    .icon-2 {
        background-image: url('../../assets/images/tools/hottoast.png');
        background-size: 30px 30px;
        top: 60%;
        left: 70%;
        animation-delay: 3s;
    }

    .icon-3 {
        background-image: url('../../assets/images/tools/basic.png');
        background-size: 40px 40px;
        top: 60%;
        left: 5%;
        animation-delay: 3s;
    }

    .icon-4 {
        background-image: url('../../assets/images/tools/notiflix.png');
        background-size: 40px 40px;
        top: 10%;
        left: 70%;
        animation-delay: 0s;
    }
}

/*done*/

.tools__item--date { /*date*/
    width: 300px;
    height: 140px;
    margin-left: -145px;

    .icon-1 {
        background-image: url('../../assets/images/tools/datefns.svg');
        background-size: 30px 30px;
        top: 10%;
        left: 5%;
        animation-delay: 0s;
    }

    .icon-2 {
        background-image: url('../../assets/images/tools/dayjs.png');
        background-size: 30px 30px;
        top: 60%;
        left: 60%;
        animation-delay: 3s;
    }
}

/*done*/

.tools__item--text { /*text*/
    width: 280px;
    height: 140px;
    margin-left: -60px;

    .icon-1 {
        background-image: url('../../assets/images/tools/highlight.png');
        background-size: 30px 30px;
        top: 10%;
        left: 5%;
        animation-delay: 0s;
    }

    .icon-2 {
        background-image: url('../../assets/images/tools/monaco.png');
        background-size: 30px 30px;
        top: 60%;
        left: 60%;
        animation-delay: 3s;
    }

}

/*done*/

.tools__item--tweaks { /*tweaks*/

    width: 300px;
    height: 140px
}

.tools__item--data { /*visualization*/
    width: 220px;
    height: 180px;

    .icon-1 {
        background-image: url('../../assets/images/tools/apexcharts.webp');
        background-size: 30px 30px;
        top: 10%;
        left: 5%;
        animation-delay: 0s;
    }

    .icon-2 {
        background-image: url('../../assets/images/tools/star.svg');
        background-size: 30px 30px;
        top: 60%;
        left: 60%;
        animation-delay: 3s;
    }

    .icon-3 {
        background-image: url('../../assets/images/tools/tanstack.png');
        background-size: 40px 40px;
        top: 10%;
        left: 60%;
        animation-delay: 0s;
    }
}

/*done*/

.tools__item--carousels { /*carousel*/
    width: 220px;
    height: 190px;

    .icon-1 {
        background-image: url('../../assets/images/tools/owl.png');
        background-size: 30px 30px;
        top: 10%;
        left: 5%;
        animation-delay: 0s;
    }

    .icon-2 {
        background-image: url('../../assets/images/tools/slick.svg');

        top: 60%;
        left: 40%;
        animation-delay: 3s;
    }

    .icon-3 {
        background-image: url('../../assets/images/tools/swiper.svg');
        background-size: 30px 30px;
        top: 10%;
        left: 60%;
        animation-delay: 0s;
    }
}

/*done*/

.tools__item--accessibility { /*Accessibility*/
    width: 220px;
    height: 180px;

    .icon-1 {
        background-image: url('../../assets/images/tools/bodyscroll.png');
        background-size: 40px 40px;
        top: 70%;
        left: 5%;
        animation-delay: 0s;
    }
}

/*done*/

.tools__item--drag { /*drag*/
    width: 220px;
    height: 140px
}

.tools__item--pagination { /*pagination*/
    width: 300px;
    height: 140px;

    .icon-1 {
        background-image: url('../../assets/images/tools/ultimate.png');
        background-size: 40px 40px;
        top: 60%;
        left: 70%;
        animation-delay: 3s;
    }
}

.tools__item--loading { /*loading*/
    width: 220px;
    height: 140px;

    .icon-1 {
        background-image: url('../../assets/images/tools/loader.svg');
        background-size: 40px 40px;
        top: 10%;
        left: 5%;
        animation-delay: 0s;
    }
}

/*done*/

.tools__item--search { /*search*/
    width: 220px;
    height: 140px;

    .icon-1 {
        background-image: url('../../assets/images/tools/algolia.png');

        top: 10%;
        left: 10%;
        animation-delay: 0s;
    }
}

/*done*/

.tools__item--core { /*search*/
    width: 220px;
    height: 140px;

    .icon-1 {
        background-image: url('../../assets/images/tools/html.png');
        background-size: 40px 40px;
        top: 10%;
        left: 10%;
        animation-delay: 0s;
    }

    .icon-2 {
        background-image: url('../../assets/images/tools/css.svg');
        background-size: 40px 40px;
        top: 60%;
        left: 60%;
        animation-delay: 3s;
    }

    .icon-3 {
        background-image: url('../../assets/images/tools/javascript.svg');
        background-size: 40px 40px;
        top: 60%;
        left: 5%;
        animation-delay: 3s;
    }
}


.tools__item--deployment {
    width: 220px;
    height: 140px;
}

.tools__item--collaboration {
    width: 300px;
    height: 140px;

    .icon-1 {
        background-image: url('../../assets/images/tools/miro.svg');
        background-size: 30px 30px;
        top: 10%;
        left: 10%;
        animation-delay: 0s;
    }

    .icon-2 {
        background-image: url('../../assets/images/tools/slack.png');

        top: 60%;
        left: 60%;
        animation-delay: 3s;
    }

    .icon-3 {
        background-image: url('../../assets/images/tools/trello.svg');
        background-size: 30px 30px;
        top: 60%;
        left: 5%;
        animation-delay: 3s;
    }
}

.tools__item--eslint {
    width: 200px;
    height: 120px;
}

.tools__item--email {
    width: 200px;
    height: 120px;
}

.tools__item--file {
    width: 220px;
    height: 120px;
}

.tools__item--progressive {
    width: 220px;
    height: 140px;

    .icon-1 {
        background-image: url('../../assets/images/tools/workbox.png');

        top: 10%;
        left: 5%;
        animation-delay: 0s;
    }
}

.tools__item--testing { /*testing*/
    width: 450px;
    height: 120px;

    .icon-1 {
        background-image: url('../../assets/images/tools/jest.png');
        background-size: 90px;
        top: 10%;
        left: 5%;
        animation-delay: 0s;
    }

    .icon-2 {
        background-image: url('../../assets/images/tools/loki.svg');
        top: 60%;
        left: 80%;
        animation-delay: 3s;
    }

    .icon-3 {
        background-image: url('../../assets/images/tools/rtl.png');
        background-size: 50px 50px;

        top: 60%;
        left: 5%;
        animation-delay: 3s;
    }

    .icon-4 {
        background-image: url('../../assets/images/tools/cypress.svg');
        background-size: 30px 30px;
        top: 10%;
        left: 80%;
        animation-delay: 0s;
    }

    .icon-5 {
        background-image: url('../../assets/images/tools/storybook.svg');
        background-size: 30px 30px;
        top: 40%;
        left: 65%;
        animation-delay: 0s;
    }

    .icon-6 {
        background-image: url('../../assets/images/tools/postman.svg');
        background-size: 30px 30px;
        top: 40%;
        left: 20%;
        animation-delay: 0s;
    }
}

/*done*/

.tools__item--backend { /*backend*/
    width: 450px;
    height: 140px;

    .icon-1 {
        background-image: url('../../assets/images/tools/axios.svg');

        top: 10%;
        left: 5%;
        animation-delay: 0s;
    }

    .icon-2 {
        background-image: url('../../assets/images/tools/firebase.svg');

        top: 60%;
        left: 70%;
        animation-delay: 3s;
    }

    .icon-3 {
        background-image: url('../../assets/images/tools/swagger.svg');

        top: 60%;
        left: 5%;
        animation-delay: 3s;
    }
}

.tools__item--media {
    width: 200px;
    height: 120px;

    .icon-1 {
        background-image: url('../../assets/images/tools/howler.png');
        background-size: 30px 30px;
        top: 10%;
        left: 10%;
        animation-delay: 0s;
    }

}

.tools__item__content {
    padding: 10px;

}

.tools__item::after {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-color: var(--main-bg-color);
    border-bottom-right-radius: 5px;
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
    z-index: 2;
}


.tools__item__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
    width: 100%;
    height: 100%;
    transform: translateY(0%);
    transition: transform 0.4s ease;
    display: flex;
    align-items: center; /* Center title vertically by default */
    justify-content: center;
    flex-direction: column;
    color: var(--main-text-color);
    padding: 10px;
    font-size: 16px;
}

.tools__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    text-align: center;
    transition: transform 0.4s ease;
    font-weight: 800;
}

.tools__item:hover .tools__title {
    text-align: center;
    width: 160px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0) scale(0.7);


}

.tools__item:hover .floating-icon {
    opacity: 0;
}


.tools__item:hover .tools__item__overlay {
    transform: translateY(calc(100% - 60px));

}


.tools__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

}


.tools__item__overlay::before {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    border-color: var(--main-bg-color);
    border-top-left-radius: 5px;
    border-style: solid;
    border-width: 2px 0 0 2px;
    content: "";
}

.tools__list-item {
    background-color: var(--main-bg-color);
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.4s ease-in-out;
}

.tools__list-item:hover {
    background-color: var(--main-text-color);

    .tools__list-link {
        color: var(--main-bg-color);
    }
}


.tools__list-link {
    font-size: 12px;
    color: var(--main-text-color);
    font-weight: 500;
    transition: color 0.4s ease-in-out;
}


/* Common floating icon styles */
.floating-icon {
    position: absolute;
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    animation: float 6s ease-in-out infinite;
    transition: opacity 0.4s ease;
    pointer-events: none; /* Icons don't interfere with interaction */
}


