.section__contact {
    /*background-color: var(--default-bg-color);*/
    padding-bottom: 100px;
    /*mask: linear-gradient(to bottom, #000 calc(100% - 50px), transparent);*/
    background: var(--default-bg-color);
    background: linear-gradient(180deg, rgba(255, 194, 217, 1) 13%, rgba(255, 255, 255, 1) 77%);
    padding-top: 100px;
    /*padding-bottom: 8rem;*/
    webkit-mask-image: linear-gradient(to bottom, transparent 0, #000 80px, #000 calc(100% - 80px), transparent 100%);
    -webkit-mask-composite: intersect;
    mask-image: linear-gradient(to bottom, transparent 0, #000 80px, #000 calc(100% - 80px), transparent 100%);
    mask-composite: intersect;
}

.contact__container {
    display: flex;
    flex-direction: column;
}

.contact__wrap {
    margin-bottom: 20px;
    text-align: center;
}

.contact__title {
    font-family: "Lustria", serif;
    margin-bottom: 0.3rem;
    font-size: 75px;
    color: var(--active-bg-color);
    text-transform: uppercase;
    font-weight: 900;
}

.contact__text {
    font-size: 1.5rem;
    color: var(--active-bg-color);
    font-weight: 400;
}

.contact__btn {
    min-width: 175px;
    border-radius: 30px;
    background-color: var(--main-bg-color);
    font-size: 16px;

    box-shadow: 0 0 8px var(--active-bg-color);


}

.contact__wrapper {
    display: flex;
    gap: 30px;

}

.contact__invitation {
    width: 45%;
}

.contact__invitation-text--primary {
    font-weight: 700;
    font-family: "Lustria", serif;
    font-size: 45px;
    color: var(--main-text-color);
    text-align: end;

    span {
        color: var(--active-bg-color);
        font-weight: 900;
    }
}

.contact__invitation-text--secondary {
    font-size: 32px;
    color: var(--active-bg-color);
    font-weight: 900;
    text-align: end;
    margin-top: 60px;
}


.key {
    display: inline-block;
    letter-spacing: -0.5vw;
    transition: transform 0.2s;
}


.key:nth-child(6n+1) {
    animation: pressDown1 2s infinite;
}

.key:nth-child(6n+2) {
    animation: pressDown2 2.5s infinite;
}

.key:nth-child(6n+3) {
    animation: pressDown3 3s infinite;
}

.key:nth-child(6n+4) {
    animation: pressDown4 2.8s infinite;
}

.key:nth-child(6n+5) {
    animation: pressDown5 3.2s infinite;
}

.key:nth-child(6n+0) {
    animation: pressDown6 3.5s infinite;
}

.contact-form {
    width: 500px;
    height: 450px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    overflow: hidden;
    position: relative;
    /*box-shadow: 11px -13px 29px 1px rgba(255,91,167,0.55);*/
    /*-webkit-box-shadow: 11px -13px 29px 1px rgba(255,91,167,0.55);*/
    /*-moz-box-shadow: 11px -13px 29px 1px rgba(255,91,167,0.55);*/
    background-color: var(--default-bg-color);
    padding: 15px;

    .control {
        width: 60%;
    }
}


.contact-form--modal {
    width: 100%;

    .control--modal {
        width: 100%;
    }
}


.contact-form input, .contact-form textarea {
    border-radius: 20px;
    padding-left: 30px;
    color: var(--main-text-color);
}

.contact-form label {
    left: 10px;
    color: var(--main-text-color);
    text-transform: none;
}

.form__wrapper {
    position: relative;
}

.contact__links {
    position: absolute;
    height: 400px;
    top: 140px;
    right: -80px;
    background-color: var(--main-bg-color);

    /*border-radius: 15px;*/

    p {
        font-size: 18px;
        font-weight: 700;
        color: var(--active-bg-color);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
    }

    .contact__links-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contact__links__inner {
        overflow: hidden;
        padding: 20px;
    }
}

.contact__links::after {
    content: "";
    position: absolute;
    top: -25px;
    right: -25px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--active-bg-color);
    opacity: 0.8;
    filter: blur(5px);
    animation: pulseCircle 2s infinite;
}



