.footer {
    padding: 1rem 0;
    background-color: #ffffff;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__meta {
    display: flex;
    align-items: center;
}

.footer__copyright {
    padding-right: 0.8rem;
    margin-right: 1rem;
    font-size: 12px;
    color: #1A4A7A;
    border-right: 1px solid #1A4A7A;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    color: #1A4A7A;
}


.footer__social-item {
    width: 40px;
    height: 40px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius:100%;
    background-color:  #ffffff;
    i {
        color: #1A4A7A;
        transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
    opacity: 0.8;

}

.footer__social-item:hover {
    box-shadow: 0 0 8px #1A4A7A, inset 0 0 8px #1A4A7A;
    background-color: #1A4A7A;
    i {
        color: #ffffff;
    }
}


/*.footer__socials i {*/
/*    color: #bbbbcc;*/
/*    transition: color 300ms linear;*/
/*}*/

/*.footer__social-item {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*}*/

/*.footer__social-item:hover {*/
/*    i {*/
/*        color: #1A4A7A;*/
/*    }*/
/*}*/

.footer__socials a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    align-items: center;
    gap:15px;
    font-size: 0.94rem;
}

.footer__nav-link {
    color: #1A4A7A;
    text-decoration: none;
    position: relative;
    padding: 5px 10px;
   }

.footer__nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .5s ease-in-out;
    background-color: #CAE6FE;
    border-radius: 10px;
    height: 100%;
    z-index: -1;
    width:0%;
}
.footer__nav-link:hover {
    z-index:2;
}

.footer__nav-link:hover::after {
    width:100%;
}

.footer__btn {
    text-transform: uppercase;
    padding: 0.5rem 1.4rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.93rem;
}

