.hero {
    position: relative;

    height: 700px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cloudCanvas {
    position: absolute;
    top: 0;
    left: 0;
}


.second-cloud-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateY(40%);

    canvas {
        z-index: 2;

    }

}

.container--hero {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    /*flex-direction: column;*/
    /*align-items: flex-end;*/
    margin-top: 30px;
}


.hero__info {
    transform: translateY(50px);
    display: flex;
    flex-direction: column;

}

.hero__greet {
    font-size: 52px;
    color: #1A4A7A;
    font-weight: 700;
}

.hero__title {
    /*font-family: "Lustria", serif;*/
    font-family: Garamond, serif;
    font-size: 170px;
    font-weight: 900;
    /*text-shadow: 0 0 15px rgba(0,0,0,.5), 0 0 10px rgba(0,0,0,.5);*/
    z-index: 0;
    color: #FF5BA7;
    text-shadow: 0px 0px 0 rgb(231, 67, 144), 1px 1px 0 rgb(216, 52, 129), 2px 2px 0 rgb(202, 38, 115), 3px 3px 0 rgb(187, 23, 100), 4px 4px 0 rgb(173, 9, 86), 5px 5px 0 rgb(158, -6, 71), 6px 6px 0 rgb(144, -20, 57), 7px 7px 6px rgba(0, 0, 0, 0.6), 7px 7px 1px rgba(0, 0, 0, 0.5), 0px 0px 6px rgba(0, 0, 0, .2);
    align-self: center;
}

.hero__text {
    font-size: 30px;
    max-width: 600px;
    color: #1A4A7A;


    /*text-wrap: pretty;*/

    span {
        font-weight: 900;
        font-size: 60px;
    }
}

.hero__socials {
    transform: translateY(70px);
}

.hero__subtext {
    font-size: 24px;
    color: #1A4A7A;
    font-weight: 700;
    margin-bottom: 20px;
    align-self: flex-start;
}

.hero__email {
    position: relative;
    color: #1A4A7A;
    cursor: copy;
    transition: color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.hero__email:hover {
    color: #FF5BA7;
}


.hero__email__tooltip {
    position: absolute;
    bottom: -30px;
    left: 80%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #1A4A7A;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    z-index: 10;
}

.hero__email.show-tooltip .hero__email__tooltip {
    opacity: 1;
}

.socials {
    display: flex;
    gap: 10px;
    margin-bottom: 42px;
    align-self: flex-start;
}

.socials__item {
    width: 40px;
    height: 40px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 100%;
    background-color: #FF5BA7;

}

.socials__item:hover {
    box-shadow: 0 0 8px #FF5BA7, inset 0 0 8px #FF5BA7;
    background-color: #ffffff;

    i {
        color: #FF5BA7;
    }
}


.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.socials__link i {
    font-size: 25px;
    transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__action-btn-list {
    align-self: flex-start;
    gap: 20px;
}

.action-btn {
    padding: 1.05em 1.7em;
    font-size: 16px;
    border-radius: 30px;
    background-color: #FFffff;
    box-shadow: 0 0 8px #FF5BA7;
}

