/* filters */
.portfolio__filter {
    display: flex;
    flex-wrap: wrap;
    row-gap:15px;
    justify-content: center;
    background-color: #ffffff;
    padding-top: 4rem;
    margin-bottom: 20px;
}

.filter-btn {
    --default-bg: #FFD5EB;
    --active-bg: #FF5BA7;
    position: relative;
    padding: 1rem 2rem;
    background-color: var(--default-bg);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    cursor: pointer
}

.filter-btn:first-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 24px;
    height: 24px;
    right: 100%;
    background-color: var(--default-bg);
    mask-image: linear-gradient(to top, red, red), radial-gradient(circle 15px at center, green 80%, transparent 81%);
    mask-size: 12px 12px, 100%;
    mask-composite: subtract;
    mask-repeat: no-repeat, repeat;
    mask-position: bottom right, center;
}

.filter-btn:last-child::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 24px;
    height: 24px;
    left: 100%;
    background-color: var(--default-bg);
    mask-image: linear-gradient(to top, red, red), radial-gradient(circle 15px at center, green 80%, transparent 81%);
    mask-size: 12px 12px, 100%;
    mask-composite: subtract;
    mask-repeat: no-repeat, repeat;
    mask-position: bottom left, center;
}

.filter-btn.filter-btn--active {
    color: #222;
    background-color: var(--active-bg);
    z-index: 1;
}

.filter-btn.filter-btn--active::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 24px;
    height: 24px;
    left: 100%;
    background-color: var(--active-bg);
    mask-image: linear-gradient(to top, red, red), radial-gradient(circle 15px at center, green 80%, transparent 81%);
    mask-size: 12px 12px, 100%;
    mask-composite: subtract;
    mask-repeat: no-repeat, repeat;
    mask-position: bottom left, center;
}

.filter-btn.filter-btn--active::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 24px;
    height: 24px;
    right: 100%;
    background-color: var(--active-bg);
    mask-image: linear-gradient(to top, red, red), radial-gradient(circle 15px at center, green 80%, transparent 81%);
    mask-size: 12px 12px, 100%;
    mask-composite: subtract;
    mask-repeat: no-repeat, repeat;
    mask-position: bottom right, center;
}
