/* filters */
.portfolio__filter {
    display: flex;
    flex-wrap: wrap;
    row-gap:15px;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 3rem;
    margin-bottom: 20px;
}

.filter-btn {
    --default-bg: #FFC2D9;
    --active-bg: #FF5BA7;
    position: relative;
    padding: 1rem 2rem;
    background-color: var(--default-bg);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    cursor: pointer
}

.filter-btn:first-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 24px;
    height: 24px;
    right: 100%;
    background-color: var(--default-bg);
    mask-image: linear-gradient(to top, red, red), radial-gradient(circle 15px at center, green 80%, transparent 81%);
    mask-size: 12px 12px, 100%;
    mask-composite: subtract;
    mask-repeat: no-repeat, repeat;
    mask-position: bottom right, center;
}

.filter-btn:last-child::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 24px;
    height: 24px;
    left: 100%;
    background-color: var(--default-bg);
    mask-image: linear-gradient(to top, red, red), radial-gradient(circle 15px at center, green 80%, transparent 81%);
    mask-size: 12px 12px, 100%;
    mask-composite: subtract;
    mask-repeat: no-repeat, repeat;
    mask-position: bottom left, center;
}

.filter-btn.filter-btn--active {
    color: #ffffff;
    background-color: var(--active-bg);
    z-index: 1;
}

.filter-btn.filter-btn--active::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 24px;
    height: 24px;
    left: 100%;
    background-color: var(--active-bg);
    mask-image: linear-gradient(to top, red, red), radial-gradient(circle 15px at center, green 80%, transparent 81%);
    mask-size: 12px 12px, 100%;
    mask-composite: subtract;
    mask-repeat: no-repeat, repeat;
    mask-position: bottom left, center;
}

.filter-btn.filter-btn--active::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 24px;
    height: 24px;
    right: 100%;
    background-color: var(--active-bg);
    mask-image: linear-gradient(to top, red, red), radial-gradient(circle 15px at center, green 80%, transparent 81%);
    mask-size: 12px 12px, 100%;
    mask-composite: subtract;
    mask-repeat: no-repeat, repeat;
    mask-position: bottom right, center;
}


.work {
    display: flex;
    flex-direction: column;
    /*overflow: hidden;*/
    border-radius: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    /*box-shadow: 0 3px 10px -5px rgba(255, 255, 255, 0.25);*/
    transition: box-shadow 0.2s linear;
    position: relative;
    z-index:1;
}


.work::before, .work::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #CAE6FE;
    z-index:-1;
    transition: all 0.2s;
    border-radius: 15px;

}
.work:hover {
    z-index:3;

    img  {
        transform: scale(0.9) translateY(-10%);
        mask-image:
                linear-gradient(to right,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 1) 10%,
                rgba(0, 0, 0, 1) 90%,
                rgba(0, 0, 0, 0) 100%),
                linear-gradient(to bottom,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 1) 90%,
                rgba(0, 0, 0, 0) 100%);
        mask-composite: intersect;

    }
}

.work:hover::before {
    transform: rotate(-20deg);
    box-shadow: rgba(213, 213, 219, 0.25) 0px 50px 50px -40px,
    rgba(156, 154, 154, 0.3) 0px 30px 40px -30px,
    rgba(74, 128, 182, 0.35) 0px -2px 6px 0px inset;
}

.work:hover::after {
    transform: rotate(20deg);
    box-shadow: rgba(213, 213, 219, 0.25) 0px 50px 50px -40px,
    rgba(156, 154, 154, 0.3) 0px 30px 40px -30px,
    rgba(74, 128, 182, 0.35) 0px -2px 6px 0px inset;
}


.work__image {
    background-color: #ffffff;
    width: 370px;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;

    img {
        transform: scale(1);
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        transition: transform 0.3s ease-in-out;
    }
}

.work__info {
    position: relative;
    display:flex;
    flex-direction: column;
    padding: 1rem 0.8rem;
    background-color: #ffffff;
    flex-grow:1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;


}


.work__category,.work__type {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #1A4A7A;
    text-transform: uppercase;
}

.work__category {
    max-width: 346px;
    height: 30px;
}

.work__short-overview {
    max-width: 346px;
    text-wrap: pretty;
}
.work__subtext {
    font-weight: 600;
}


.work__title {
    display: flex;
    justify-content: space-between;
    font-size: 1.06rem;
    color: #1A4A7A;
    text-transform: uppercase;
    font-weight: 700;
}

.portfolio-list {
    max-width: 1170px;
}
.portfolio__item {
    cursor: pointer;
    margin-bottom: 20px;
}

.section__portfolio {
    background-color: #FFC2D9;
    padding-bottom: 50px;

}
.portfolio__filter__container {
    padding-top:50px;
    padding-bottom: 50px;
    background-color: #ffffff;
    mask: linear-gradient(to bottom, #000 80%, transparent);
}
.section__portfolio__title {
    margin-bottom: 0.3rem;
    font-family: 'CandyCloud', sans-serif;
    font-size: 5rem;
    color: #FF5BA7;
    font-weight: 700;
    text-align: center;

}
