.project-modal {
  width: 1100px;
  max-height: 750px;
  padding: 0;
  overflow-Y:scroll;
  overflow-x: hidden ;
  background-color: #ffffff;
  border-radius:15px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.modal__project {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.project-header {
  display: flex;
}

.project-img-wrap {
  position: relative;
  padding-left: 30px;
  padding-top: 30px;
  width: 800px;
  height: 600px;
  overflow: hidden;
}
.project-slider {
  display: flex;
  position: relative;
  top: -30px;
  left: -30px;
  width: 800px;
  transition: transform 0.5s ease-in-out;
}

/*.custom-controls {*/
/*  left: 0;*/
/*  width: 100%;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  gap: 10px;*/
/*  background: rgba(0,0,0,0.5);*/
/*  padding: 10px;*/
/*}*/

/*.project-picture {*/
/*  object-fit: contain;*/
/*}*/

.project-title {
height:160px;
  font-size: 24px;
  padding: 40px 15px 60px;
  margin-bottom: 10px;
  color: #1A4A7A;
  background-color: #CAE6FE;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
   --mask:

linear-gradient(180deg, #000 140px, #0000 0) 0 0,
radial-gradient(25px, #000 98%, #0000) 50%/46.25px 50px repeat space;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.project-slogan {
  font-style: italic;
  font-size: 16px;
  margin-bottom: 20px;

}

.project-slider-buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 550px;
  left: 0;
}

.project-slider-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(155, 155, 156, 0.9);
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-slider-btn i {
  font-size: 30px;
  color: #fff;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-slider-btn:hover {
  color: #000;
}
.project-slider-btn:hover i {
  color: #000;
}

.project-meta {
  width: 300px;


  font-size: 20px;
  /*color: #6a696b;*/
  color: #1A4A7A;
}

.project-meta__inner {
  padding-left: 20px;
  padding-right: 20px;
  color: #1a1a1a;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.project-info__item {
  display: flex;
  gap: 20px;
}

.meta-title {
   width: 80px;
  flex-grow: 1;
  text-align: left;
  font-size: 16px;
  color: #1A4A7A;
  font-weight: 800;
}

.meta-value {
  width:180px;
  font-size: 14px;
  color: #1a1a1a;
  font-weight: 500;
  text-align: start;
  flex-grow: 1;
  transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.website-value:hover, .repository-value:hover {
  color: #FF5BA7
}





.project-meta__first-line {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 30px;
  border-bottom: 1px solid #1A4A7A;
}

.project-infoContainer {
  padding: 30px 40px;
  display:flex;
  flex-direction: column;
  gap:20px;
}

.project-descr {
  font-size: 14px;
  line-height: 2;
  /*color: #6a696b;*/

  font-weight: 400;
  text-align: justify;
}


.project-techStack {
  display: flex;
  flex-direction: column;
  gap:10px;
  .info-title {
    color: #FF5BA7;
  };

}

.info-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  /*color: #6a696b;*/
  color: #1A4A7A;

}
.tech-stack-wrapperlist {
  display: flex;
  flex-direction: column;
  gap:10px;
}

.tech-stack-wrapperlist-item {
  display: flex;
  gap:10px;
}

.tech-stack-category {
  font-weight: 600;
  /*color: #555;*/
  color: #FF5BA7;
}

.tech-stack-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .tech-stack-item {
    background-color: #FFC2D9;
    color: #1a1a1a;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 0.9rem;
  }
}
.project-skills, .project-features {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills-list  {
  display: flex;
  flex-wrap: wrap;
  gap:10px;
}

.skills-item {
  background:  #CAE6FE;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 1rem;
  color: #1A4A7A;
}

.features-list, .additional-info-list {
  display: flex;
  flex-direction: column;
  gap:10px;
  font-size: 14px;
}
.features-list-item, .additional-info-item  {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  gap:10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /*background-color: #f0f0f0;*/
  border: 1px solid #CAE6FE;
  height: 100px;
  padding: 20px 20px 20px 120px;
  overflow: hidden;
}
.feature-items-list {
  text-align: left;
}

.feature-category, .additional-info-category {
  font-weight: 700;
  width: 200px;
  color: #1A4A7A;


}

.features-list-item::before, .additional-info-item::before {
  content: attr(data-index);
  position: absolute;
  top: 0;
  left: 0;
  width:100px;
  height: 100%;
  background-color: #CAE6FE;
  color: #1A4A7A;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 800;
}

.feature-items-list, .additional-items-list {
  width: 100%;
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-additional-info {
  display: flex;
  flex-direction: column;
  gap:10px;
}




