html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #2b2a2c;
}

body.no-scroll {
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}



.nav__btn:hover,
.load-more-btn:hover,
.read-more-btn:hover,
.show-less-btn:hover {
  background-color: #2b2a2c;
  color: #fff;
}

.load-more-btn,
.read-more-btn,
.show-less-btn {
  display: block;
  color: #2b2a2c;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  background-color: #fff;
  padding: 0.7em 1.2em;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.94rem;
  border: 2px solid #2b2a2c;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.btn__list--load {
  justify-content: center;
}

.load-more-btn,
.show-less-btn {
  min-width: 175px;
}

.show-less-btn {
  display: none;
}

.read-more-btn {
  margin-left: 0;
  margin-top: 40px;
}

.hero__container {
  display: flex;
  padding-top: 100px;
  padding-bottom: 120px;
  position: relative;

  background: url('../assets/images/symbols.png') right bottom no-repeat;
  border-bottom: 1px solid rgba(106, 105, 107, 0.3);
}

.hero__info {
  width: 50%;
}

.hero__greet {
  font-size: 2.13rem;
  color: #2b2a2c;
  font-weight: 200;
}

.hero__title {
  margin-bottom: 5px;

  font-size: 3rem;
  color: #2b2a2c;
  font-weight: 700;
}

.hero__text {
  margin-bottom: 25px;

  font-size: 1.2rem;
  color: rgba(43, 42, 44, 0.7);
}

.hero__photo {
  position: absolute;
  bottom: -1px;
  right: 0;
  z-index: 1;
}



.button {
  display: inline-block;
  vertical-align: top;
  padding: 1.05em 1.7em;
  min-width: 170px;

  border: 1px solid #6a696b;
  border-radius: 1.8em;
  background: none;
  cursor: pointer;

  font-family: inherit;
  font-size: 1.06rem;
  line-height: 1.1;
  color: #2b2a2c;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  transition: background-color 0.2s linear, color 0.2s linear,
  box-shadow 0.2s linear, border-color 0.2s linear;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: #2b2a2c;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
  color: #fff;
  border-color: #2b2a2c;
}
.btn__list {
  display: flex;
  gap: 1rem;
}


.button--control {
  min-width: 145px;
  font-size: 0.8rem;
}

.portfolio {
  padding: 2.8rem 0;
}

.portfolio__filter {
  display: flex;
  gap: 1.2rem;
  padding-top: 45px;
  justify-content: center;
  margin-bottom: 1.4rem;
}

.filter-btn {
  cursor: pointer;
  position: relative;
  font-size: 0.8rem;
  color: rgba(43, 42, 44, 0.7);
  text-decoration: none;
}

.filter-btn::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #9b999c;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  transition: width 0.2s linear;
}

.filter-btn--active::after,
.filter-btn:hover::after {
  width: 100%;
}

.work {
  overflow: hidden;

  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);

  transition: box-shadow 0.2s linear;
}

.work:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.work__image {
  background-color: #6a696b;
  width: 370px;
  height: 300px;
}

.work__info {
  padding: 1rem 0.8rem;
}

.work__category {
  margin-bottom: 0.5rem;

  font-size: 0.8rem;
  color: #2b2a2c;
  text-transform: uppercase;
}

.work__title {
  display: flex;
  justify-content: space-between;

  font-size: 1.06rem;
  color: #2b2a2c;
  text-transform: uppercase;
  font-weight: 700;
}

.portfolio-list {
  max-width: 1170px;
}
.portfolio__item {
  cursor: pointer;
  margin-bottom: 20px;
}

.about {
  padding: 8.4rem 0;
}

.about__container {
  display: flex;
  max-width: 1090px;
}

.about__photo,
.about__content {
  width: 50%;
}

.about__photo {
  position: relative;
}

.about__photo img {
  position: relative;
  z-index: 2;
}

.about__photo:before {
  content: '';
  width: 415px;
  height: 415px;
  background-color: #efefef;

  position: absolute;
  left: 1rem;
  bottom: 0;
  z-index: 1;
}

.about__content {
  padding-left: 3.2rem;
  padding-top: 2rem;
}

.about__title {
  font-size: 3rem;
  color: #2b2a2c;
  font-weight: 700;
  text-transform: uppercase;
}

.about__title--big {
  margin-bottom: 1.4rem;
  position: relative;
  left: -10px;

  font-size: 6.1rem;
  line-height: 1.1;
  color: rgba(43, 42, 44, 0.15);
  font-weight: 700;
  text-transform: uppercase;
}

.about__descr {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.8rem;

  font-size: 0.8rem;
  line-height: 2;
  color: #6a696b;
  font-weight: 300;
}

.reviews {
  padding: 4.6rem 0;
  position: relative;
  height: 230px;
  background: #332f30 url('../assets/images/reviews-bg.png') center no-repeat;
}

.reviews__container {
  position: relative;
}

.control-slider-buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider-btn i {
  font-size: 30px;
  color: #fff;
}

.reviews-slider {
  position: relative;
  max-width: 830px;

  margin: 0 auto;
}

.reviews__item {
  display: none;
  position: absolute;
  max-width: 830px;
  margin: 0 auto;
  height: 95px;
}

.reviews__item--active {
  display: block;
}

.reviews__descr {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.94rem;
  line-height: 2.2;
  color: #fff;
  text-align: center;
}

.reviews__author {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 55px);
}

.reviews__photo {
  margin: 0 auto 0.6rem;
  width: 103px;
  height: 103px;
  background-color: #2b2a2c;
  border-radius: 50%;
  border: 4px solid #efefef;
}

.reviews__name {
  margin-bottom: 0.3rem;

  font-size: 1.06rem;
  color: #2b2a2c;
  font-weight: 700;
}

.reviews__text {
  margin-bottom: 0.4rem;
  font-size: 0.94rem;
  color: #6a696b;
  font-style: italic;
  font-weight: 300;
}

.reviews__rating {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.reviews__star {
  width: 15px;
  height: 15px;
}

.reviews__star--unactive {
  opacity: 0.3;
}

.blog {
  padding-top: 14rem;
  padding-bottom: 8rem;
}
.blog__container {
  display: flex;
  flex-direction: column;
}
.blog__wrap {
  margin-bottom: 3.6rem;
  text-align: center;
}

.blog__title {
  margin-bottom: 0.3rem;

  font-size: 3rem;
  color: #2b2a2c;
  text-transform: uppercase;
  font-weight: 700;
}

.blog__text {
  font-size: 1.2rem;
  color: #8d8d8e;
  font-weight: 300;
}

.blog__btn {
  position: relative;
  font-size: 0.94rem;
  color: #6a696b;
  background-color: transparent;
  border: none;
  text-decoration: dashed;
  align-self: flex-end;
  cursor: pointer;
}

.blog__btn::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #2b2a2c;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  transition: width 0.2s linear;
}

.blog__btn:hover::after {
  width: 100%;
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.articles__item {
  display: flex;
  flex-direction: column;
  width: 370px;
}

.articles__item.showContent .article__text {
  max-height: 1000px;
}

.article__img-wrap {
  position: relative;
  margin-bottom: 1.35rem;
}

.article__date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77px;
  height: 77px;
  background-color: #2b2a2c;
  color: #fff;
  font-size: 1.06rem;
  line-height: 1.4;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-weight: 900;
}

.articles__photo {
  width: 370px;
  height: 260px;
  background-color: #6a696b;
}

.article__title {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #2b2a2c;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.article__title:hover {
  text-decoration: underline;
}
.article__category {
  margin-bottom: 1.5rem;
  font-size: 12px;
  font-weight: 400;
  color: #2b2a2c;
  text-transform: uppercase;
}

.article__text {
  font-size: 0.8rem;
  color: #2b2a2c;
  font-weight: 300;
  line-height: 2;
  max-height: 96px;
  overflow: hidden;
}

.footer {
  padding: 1rem 0;

  background-color: #2b2a2c;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__meta {
  display: flex;
  align-items: center;
}

.footer__copyright {
  padding-right: 0.8rem;
  margin-right: 1rem;
  font-size: 0.94rem;
  color: #bbbbcc;
  border-right: 1px solid rgba(106, 105, 107, 0.35);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  color: #bbbbcc;
}

.footer__socials i {
  color: #bbbbcc;
  transition: color 300ms linear;
}
.footer__socials i:hover {
  color: #fff;
}
.footer__social-item {
  width: 40px;
  height: 40px;
}

.footer__socials a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  align-items: center;
  font-size: 0.94rem;
}

.footer__nav-link {
  margin-left: 1.5rem;

  color: #bbbbcc;
  text-decoration: none;
}

.footer__nav-link:hover {
  text-decoration: underline;
}

.footer__btn {
  text-transform: uppercase;
  padding: 0.5rem 1.4rem;
  border-radius: 20px;
  border: 1px solid #8d8d8e;
  line-height: 1.1;
  background-color: transparent;
  cursor: pointer;
}

.footer__btn:hover {
  text-decoration: none;
  background-color: #bbbbcc;
  border-color: #bbbbcc;
  color: #2b2a2c;
}

/* modal */

body.modal-open {
  overflow: hidden;
}

.modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  /* background-color: rgba(155, 155, 156, 0.9); */
  opacity: 1;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  background-color: #fff;
  padding: 30px 15px;
  width: 830px;
}

.close-modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  position: absolute;
  top: 0px;
  right: 0;
  width: 50px;
  height: 50px;
  color: #000;
  background-color: transparent;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 2;
}

.close-icon {
  font-size: 30px;
}

.close-modal-btn:hover {
  color: red;
}


