.section__tools {
    padding-top:150px;
    padding-bottom: 130px;
    background-color: #FFC2D9;
    /*aspect-ratio: 1;*/
      --mask:
            linear-gradient(0deg,#0000 200px,#000 0) 0 100px,
            radial-gradient(100px,#000 98%,#0000) 50%/185px 200px repeat space;

    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.section__tools__title {
    margin-bottom: 0.3rem;
    font-size: 3rem;
    color: #1A4A7A;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.section__tools__text {
    color: #1A4A7A;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: center;
}

.tools__container {
    /*border: 1px solid black;*/
    /*display:grid;*/
    /*gap:10px;*/
    /*grid-template-rows: repeat(5, 180px);*/
    /*grid-template-columns: repeat(5, 1fr);*/
}

.tools__item {
    position: relative;
    /*background: red;*/
    border-radius: 15px;
    overflow: hidden;
    cursor:pointer;
    /*width:220px;*/
    /*height:180px;*/
    margin-bottom: 10px;
}


.tools__item--frontend {
    width:220px;
    height:120px;

    .icon-1 {
    background-image: url('../assets/images/tools/react.svg');
    background-size: 30px 30px;
    top: 10%;
    left: 5%;
    animation-delay: 0s;
}
    .icon-2 {
        background-image: url('../assets/images/tools/jquery.svg');
        top: 60%;
        left: 60%;
        animation-delay: 3s;
    }
}

.tools__item--state {
    width:220px;
    height:180px
}

.tools__item--build{
    width:220px;
    height:180px
}
.tools__item--code {
    width:210px;
    height:120px
}
.tools__item--utility {
    width:220px;
    height:180px
}

.tools__item--routing {
    width:220px;
    height:120px
}

.tools__item--ui {
    width:450px;
    height:140px
}
.tools__item--form {
    width:220px;
    height:180px
}

.tools__item--styling {
    width: 450px;
    height: 140px;
}



.tools__item--animations {/*animation*/
    width: 370px;
    height: 140px;
    margin-left: -150px;
}
.tools__item--modals { /*modal*/
    width:220px;
    height:200px
}

.tools__item--date { /*date*/
    width: 300px;
    height:140px;
    margin-left: -145px;
}
.tools__item--text{ /*text*/
    width:280px;
    height:140px;
    margin-left: -60px;

}
.tools__item--tweaks { /*tweaks*/

    width:300px;
    height:140px
}




.tools__item--data {/*visualization*/
    width:220px;
    height:180px
}


.tools__item--carousels { /*carousel*/
    width:220px;
    height:190px
}




.tools__item--accessibility { /*Accessibility*/
    width:220px;
    height:180px
}


.tools__item--drag { /*drag*/
    width:220px;
    height:140px
}

.tools__item--pagination { /*pagination*/
    width: 300px;
    height: 140px;
}

.tools__item--loading { /*loading*/
    width: 220px;
    height: 140px;
}

.tools__item--search { /*search*/
    width: 220px;
    height: 140px;
}



.tools__item--testing { /*testing*/
    width: 450px;
    height: 120px;
}

.tools__item--backend { /*backend*/
    width: 450px;
    height: 140px;
}

.tools__item__content {
    padding: 10px;

}

.tools__item::after {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-color: #fff;
    border-bottom-right-radius: 5px;
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
    z-index: 2;
}


.tools__item__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #CAE6FE;
    width: 100%;
    height: 100%;
    transform: translateY(0%);
    transition: transform 0.4s ease;
    display: flex;
    align-items: center; /* Center title vertically by default */
    justify-content: center;
    flex-direction: column;
    color: #1A4A7A;
    padding: 10px;
    font-size: 16px;
}

.tools__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: top 0.4s ease, transform 0.4s ease;
    font-weight: 800;
}
.tools__item:hover .tools__title {
    top: 10px;
    transform: translate(-50%, 0);
    font-size: 12px;

}

.tools__item:hover .floating-icon {
    opacity:0;
}


.tools__item:hover .tools__item__overlay {
    transform: translateY(calc(100% - 60px));

}


.tools__list {
    display: flex;
    flex-wrap: wrap;
    gap:5px;

}


.tools__item__overlay::before {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    border-color: #fff;
    border-top-left-radius: 5px;
    border-style: solid;
    border-width: 2px 0 0 2px;
    content: "";
}

.tools__list-item {
    background-color: #ffffff;
    border-radius: 5px;
    padding:5px;
    transition: background-color 0.4s ease-in-out;
}
.tools__list-item:hover {
    background-color: #1A4A7A;
    .tools__list-link {
        color: #ffffff;
    }
}


.tools__list-link {
    font-size: 12px;
    color: #1A4A7A;
    font-weight: 500;
    transition:  color 0.4s ease-in-out;
}




/* Common floating icon styles */
.floating-icon {
    position: absolute;
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    animation: float 6s ease-in-out infinite;
    transition: opacity 0.4s ease;
    pointer-events: none; /* Icons don't interfere with interaction */
}



/* Floating animation */
@keyframes float {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}
