:root {
    --default-bg-color: #FFC2D9;
    --active-bg-color: #FF5BA7;
    --main-bg-color: #ffffff;
    --main-text-color: #1A4A7A;
    --light-bg-color: #CAE6FE;
    --main-black-color: #1A1A1A;
}
